extends ../../../layouts/arn

block head
  title= __("Edit profile")

block feet
  script(src='/views/account/edit/index.js?#{cacheBreaker}')

block content
  div.col-md-10
    div.tittle-dark= __("Edit profile")
    
    div.clearfix
    
    div.col-md-12
      div.row
        ul#myTab.nav.nav-tabs.nav-left.nav-main
          li.active: a.tabs-main(href="#details", data-toggle="tab")= __("Personal data")
          li: a.tabs-main(href="#education", data-toggle="tab")= __("Education")
          li: a.tabs-main(href="#activities", data-toggle="tab")= __("Activities")
          li: a.tabs-main(href="#additional", data-toggle="tab")= __("Additional information")

        div#myTabContent.tab-content
          div#details.tab-pane.fade.active.in.tabs-main-ins.row
          div#education.tab-pane.fade.tabs-main-ins.row
          div#activities.tab-pane.fade.tabs-main-ins
          div#additional.tab-pane.fade.tabs-main-ins
                        
  script(type='text/template', id='tmpl-details')
    div.col-md-6
      div.tittle= __("Main")

      div.col-md-6
          div.form-group(class!='<%- errfor.first ? "has-error" : "" %>')
              label.input-text= __("Firstname")
              input.form-control.input-sm(type="text", name="first", value!='<%- first %>')
          div.form-group(class!='<%- errfor.last ? "has-error" : "" %>')
              label.input-text= __("Lastname")
              input.form-control.input-sm(type="text", name="last", value!='<%- last %>')
          div.form-group(class!='<%- errfor.middle ? "has-error" : "" %>')
              label.input-text= __("Alias")
              input.form-control.input-sm(type="text", name="middle", value!='<%- middle %>')
          div.form-group
              label.input-text= __("Gender")
              div.form-group
                  div.btn-group.btn-g
                    button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g(type="button", data-toggle="dropdown", name="sex", value!='<%- sex %>')
                      span.text #{__("Select gender")}
                      span.caret
                        
                    ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
                      for sex in enumerations.Sex.enums
                        li: a(href="#", data-value="#{sex.key}")= __(sex.key)
              div.clearfix
              
          div.form-group
              label.input-text= __("Marital status")
              div.form-group
                  div.btn-group.btn-g
                      button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g(type="button", data-toggle="dropdown", name="maritalStatus", value!='<%- maritalStatus %>')
                        span.text #{__("Select status")}
                        span.caret
                        
                      ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
                        for status in enumerations.MaritalStatus.enums
                          li: a(href="#", data-value="#{status.key}")= __(status.key)
                  div.clearfix
                  
                  div.checkbox.ch-edit
                      label
                        <% if (showMaritalStatus && showMaritalStatus === 'yes') { %>
                        input(type="checkbox", name="showMaritalStatus", value="yes", data-value="no", checked)
                        <% } else { %>
                        input(type="checkbox", name="showMaritalStatus", value="no", data-value="yes")
                        <% } %>
                        |#{__("Show")}
              div.clearfix
              
      div.col-md-6
          label.input-text= __("Birthday")
          div.form-group
            input.date.form-control.input-sm(type="text", data-language="#{locale}", name='birthday',value!='<%- birthday %>')

            div.checkbox.ch-edit
                label
                  <% if (showBirthday && showBirthday === 'yes') { %>
                  input(type="checkbox", name="showBirthday", value="yes", data-value="no", checked)
                  <% } else { %>
                  input(type="checkbox", name="showBirthday", value="no", data-value="yes")
                  <% } %>
                  |#{__("Show birthday")}
            div.checkbox.ch-edit(style="margin-top:0px;")
                label
                  <% if (showBirthdayOnlyMonthAndDay && showBirthdayOnlyMonthAndDay === 'yes') { %>
                  input(type="checkbox", name="showBirthdayOnlyMonthAndDay", value="yes", data-value="no", checked)
                  <% } else { %>
                  input(type="checkbox", name="showBirthdayOnlyMonthAndDay", value="no", data-value="yes")
                  <% } %>
                  |#{__("Show birthday only month and day")}

          div.form-group
            label.input-text= __("Country of birth")
            div.form-group
              div.btn-group.btn-g
                button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g(type="button", data-toggle="dropdown", name="birthplaceCountry", value!='<%- birthplaceCountry %>')
                  span.text= __("Enter country")
                  span.caret
                  
                ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
                  for country in enumerations.Countries.enums
                    li: a(href="#", data-value="#{country.key}")= __(country.key)
            div.clearfix
            
          div.form-group
            label.input-text= __("City of birth")
            input.form-control.input-sm(type="text", name='birthplaceCity', value!='<%- birthplaceCity %>')
            
    div.col-md-6
        div.tittle= __("Contacts")
        div.form-group.col-md-6
            label.input-text= __("Country")
            div.form-group
              div.btn-group.btn-g
                button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g(type="button", data-toggle="dropdown", name="contactsCountry", value!='<%- contactsCountry %>')
                  span.text= __("Enter country")
                  span.caret
                  
                ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
                  for country in enumerations.Countries.enums
                    li: a(href="#", data-value="#{country.key}")= __(country.key)

        div.visible-xs.visible-sm(style="width:100%;height:25px;")
        
        div.form-group.col-md-6(type="text", name="first", value!='<%- first %>')
            label.input-text= __("Main phone")
            input.form-control.input-sm(type="text", name="phone", value!='<%- phone %>')
            
        div.form-group.col-md-6
            label.input-text= __("Enter city")
            input.form-control.input-sm(type="text", placeholder="Город", name='contactsCity', value!='<%- contactsCity %>')
            
        div.form-group.col-md-6
            label.input-text= __("Second phone")
            input.form-control.input-sm(type="text", name="phoneSecond", value!="<%- phoneSecond %>")
            
        div.form-group.col-md-6
            label.input-text= __("Zip/address")
            //Адрес/индекс
            input.form-control.input-sm(type="text", name="contactsAddress", value!="<%- contactsAddress %>")
            
            div.clearfix
            
            div.checkbox.ch-edit
                label
                  <% if (contactsShowAddress && contactsShowAddress === 'yes') { %>
                  input(type="checkbox", name="contactsShowAddress", value="yes", data-value="no", checked)
                  <% } else { %>
                  input(type="checkbox", name="contactsShowAddress", value="no", data-value="yes")
                  <% } %>
                  |#{__("Show")}
                  //Показывать
                  
        div.form-group.col-md-6
            label.input-text= __("Skype")
            input.form-control.input-sm(type="text", name="skype", value!="<%- skype %>")
            
        div.col-md-6
        
        div.form-group.col-md-6
            label.input-text= __("Personal website")
            input.form-control.input-sm(type="text", name="site", value!="<%- site %>")

    div.clearfix

    div.col-md-6
        div.tittle= __("Languages")
        //Языки
        div.col-md-12
            div.row
              <% if (languages && languages.length) { %>
              <% for (var i in languages) { %>
              div.form-group.col-md-6
                div.form-group
                  div.btn-group.btn-g
                    button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g(type="button", data-toggle="dropdown", name="languages[]", value!="<%- languages[i] %>")
                      span.text= __("Language")
                      span.caret
                                  
                    ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
                      for language in enumerations.Languages.enums
                        li: a(href="#", data-value="#{language.key}")= __(language.key)
              <% } %>
              <% } else { %>
              div.form-group.col-md-6
                div.form-group
                  div.btn-group.btn-g
                    button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g(type="button", data-toggle="dropdown", name="languages[]", value!="")
                      span.text= __("Language")
                      span.caret
                                  
                    ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
                      for language in enumerations.Languages.enums
                        li: a(href="#", data-value="#{language.key}")= __(language.key)
              <% } %>
              
              div.col-md-6.btn-add-container
                div.form-group.col-md-6(style="display: none;")
                  div.form-group
                    div.btn-group.btn-g
                      button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g(type="button", data-toggle="dropdown", name="", value!="")
                        span.text= __("Language")
                        span.caret
                                    
                      ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
                        for language in enumerations.Languages.enums
                          li: a(href="#", data-value="#{language.key}")= __(language.key)
                a.btn-add.btn-add-prev(href="#", data-name="languages[]")= __("Add language")

    div.clearfix
    
    div.col-md-12.col-xs-12
      hr
      button.btn.btn-default.btn-sm.col-md-2.col-xs-12.pull-left.btn-update(type="button")= __("Save changes")

  script(type='text/template', id='tmpl-education')
    div#Schools.col-md-6
        div.tittle= __("Schools")
        
        <% if (schools && schools.length) { %>
        <% sl = schools.length - 1; %>
        <% for (var s in schools) { %>
        <% school = schools[s]; %>
        div.col-md-6
            div.form-group
                label.input-text= __("School")
                input.form-control.input-sm(type="text", name="schoolName", data-index!="<%- s %>", data-length!="<%- schools.length %>", data-name="name", value!='<%- school.name %>')
                div.clearfix
                
            div.form-group
                label.input-text= __("Country")
                div.form-group
                    div.btn-group.btn-g
                      button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g(type="button", data-toggle="dropdown", name="schoolCountry", data-index!="<%- s %>", data-name="country", value!='<%- school.country %>')
                        span.text= __("Enter country")
                        span.caret
                        
                      ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
                        for country in enumerations.Countries.enums
                          li: a(href="#", data-value="#{country.key}")= __(country.key)
                div.clearfix
                
            div.form-group
                label.input-text= __("City")
                input.form-control.input-sm(type="text", name="schoolCity", data-index!="<%- s %>", data-name="city", value!='<%- school.city %>')
                
            <% if (s == sl) { %>
            a.btn-add-school(href="#", style="font-size: 12px;line-height: 32px;")= __("Add school")
            <% } %>
            
        div.col-md-6
            div.form-group
                label.input-text= __("Year of the beginning")
                div.form-group
                    div.btn-group.btn-g
                        button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g(type="button", data-toggle="dropdown", name="schoolYearBegin", data-index!="<%- s %>", data-name="yearBegin", value!='<%- school.yearBegin %>')
                          span.text= __("Enter year")
                          span.caret
                        ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
                          - i = 2015
                          while i > 1900
                            li: a(href="#", data-value="#{i}") #{i}
                            - i--
                div.clearfix
            div.form-group
                label.input-text= __("Year of graduation")
                div.form-group
                    div.btn-group.btn-g
                        button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g(type="button", data-toggle="dropdown", name="schoolYearEnd", data-index!="<%- s %>", data-name="yearEnd", value!='<%- school.yearEnd %>')
                          span.text= __("Enter year")
                          span.caret
                        ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
                          - i = 2015
                          while i > 1900
                            li: a(href="#", data-value="#{i}") #{i}
                            - i--
                div.clearfix

        div.clearfix
        <% } %>
        <% } %>
        
        div.new-school.col-md-6(style!="display: <% if (schools && schools.length) { %>none<% } else { %>block<% } %>;")
            div.form-group
                label.input-text= __("School")
                input.form-control.input-sm(type="text", name="schoolName", data-index="-1", data-name="name", value='')
                div.clearfix
                
            div.form-group
                label.input-text= __("Country")
                div.form-group
                    div.btn-group.btn-g
                      button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g(type="button", data-toggle="dropdown", name="schoolCountry", data-index="-1", data-name="country", value='')
                        span.text= __("Enter country")
                        span.caret
                        
                      ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
                        for country in enumerations.Countries.enums
                          li: a(href="#", data-value="#{country.key}")= __(country.key)
                div.clearfix
                
            div.form-group
                label.input-text= __("City")
                input.form-control.input-sm(type="text", name="schoolCity", data-index="-1", data-name="city", value='')
                
            //a(href="#", style="font-size: 12px;line-height: 32px;")= __("Add school")
            
        div.new-school.col-md-6(style!="display: <% if (schools && schools.length) { %>none<% } else { %>block<% } %>;")
            div.form-group
                label.input-text= __("Year of the beginning")
                div.form-group
                    div.btn-group.btn-g
                        button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g(type="button", data-toggle="dropdown", name="schoolYearBegin", data-index="-1", data-name="yearBegin", value='')
                          span.text= __("Enter year")
                          span.caret
                        ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
                          - i = 2015
                          while i > 1900
                            li: a(href="#", data-value="#{i}") #{i}
                            - i--
                div.clearfix
            div.form-group
                label.input-text= __("Year of graduation")
                div.form-group
                    div.btn-group.btn-g
                        button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g(type="button", data-toggle="dropdown", name="schoolYearEnd", data-index="-1", data-name="yearEnd", value='')
                          span.text= __("Enter year")
                          span.caret
                        ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
                          - i = 2015
                          while i > 1900
                            li: a(href="#", data-value="#{i}") #{i}
                            - i--
                div.clearfix

    div#Coleges.col-md-6
        div.tittle= __("Coleges")
        
        <% if (coleges && coleges.length) { %>
        <% cl = coleges.length - 1; %>
        <% for (var c in coleges) { %>
        <% colege = coleges[c]; %>
        div.col-md-6
            div.form-group
                label.input-text= __("Country")
                div.form-group
                    div.btn-group.btn-g
                      button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g(type="button", data-toggle="dropdown", name="colegeCountry", data-index!="<%- c %>", data-name="country", value!='<%- colege.country %>')
                        span.text= __("Enter country")
                        span.caret
                        
                      ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
                        for country in enumerations.Countries.enums
                          li: a(href="#", data-value="#{country.key}")= __(country.key)
                div.clearfix
            div.form-group
                label.input-text= __("City")
                input.form-control.input-sm(type="text", name="colegeCity", data-index!="<%- c %>", data-name="city", value!='<%- colege.city %>')
            div.form-group
                label.input-text= __("Colege")
                input.form-control.input-sm(type="text", name="colegeName", data-index!="<%- c %>", data-name="name", value!='<%- colege.name %>')
                
            <% if (c == cl) { %>
            a.btn-add-colege(href="#", style="font-size: 12px;line-height: 32px;")= __("Add colege")
            <% } %>
            
        div.col-md-6
            div.form-group
                label.input-text= __("Specialty")
                input.form-control.input-sm(type="text", name="colegeSpecialty", data-index!="<%- c %>", data-name="specialty", value!='<%- colege.specialty %>')
            div.form-group
                label.input-text= __("Status")
                div.form-group
                    div.btn-group.btn-g
                        button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g(type="button", data-toggle="dropdown", data-index!="<%- c %>", data-name="status", value!='<%- colege.status %>')= __("Select status")
                            span.caret
                        ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
                            li: a(href="#") Мужской
                            li: a(href="#") Женский
                div.clearfix
            div.form-group
                label.input-text= __("Year of graduation")
                div.form-group
                    div.btn-group.btn-g
                        button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g(type="button", data-toggle="dropdown", name="colegeYearEnd", data-index!="<%- c %>", data-name="yearEnd", value!='<%- colege.yearEnd %>')
                          span.text= __("Enter year")
                          span.caret
                        ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
                          - i = 2015
                          while i > 1900
                            li: a(href="#", data-value="#{i}") #{i}
                            - i--
                div.clearfix

        div.clearfix
        <% } %>
        <% } %>

        div.new-colege.col-md-6(style!="display: <% if (coleges && coleges.length) { %>none<% } else { %>block<% } %>;")
            div.form-group
                label.input-text= __("Country")
                div.form-group
                    div.btn-group.btn-g
                      button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g(type="button", data-toggle="dropdown", name="colegeCountry", data-index="-1", data-name="country", value='')
                        span.text= __("Enter country")
                        span.caret
                        
                      ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
                        for country in enumerations.Countries.enums
                          li: a(href="#", data-value="#{country.key}")= __(country.key)
                div.clearfix
            div.form-group
                label.input-text= __("City")
                input.form-control.input-sm(type="text", name="colegeCity", data-index="-1", data-name="city", value='')
            div.form-group
                label.input-text= __("Colege")
                input.form-control.input-sm(type="text", name="colegeName", data-index="-1", data-name="name", value='')
                
        div.new-colege.col-md-6(style!="display: <% if (coleges && coleges.length) { %>none<% } else { %>block<% } %>;")
            div.form-group
                label.input-text= __("Specialty")
                input.form-control.input-sm(type="text", name="colegeSpecialty", data-index="-1", data-name="specialty", value='')
            div.form-group
                label.input-text= __("Status")
                div.form-group
                    div.btn-group.btn-g
                        button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g(type="button", data-toggle="dropdown", name="colegeStatus", data-index="-1", data-name="status", value='')= __("Select status")
                            span.caret
                        ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
                            li: a(href="#") Мужской
                            li: a(href="#") Женский
                div.clearfix
            div.form-group
                label.input-text= __("Year of graduation")
                div.form-group
                    div.btn-group.btn-g
                        button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g(type="button", data-toggle="dropdown", name="colegeYearEnd", data-index="-1", data-name="yearEnd", value='')
                          span.text= __("Enter year")
                          span.caret
                        ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
                          - i = 2015
                          while i > 1900
                            li: a(href="#", data-value="#{i}") #{i}
                            - i--
                div.clearfix
                
    div.clearfix

    div.col-md-12.col-xs-12
      hr
      button.btn.btn-default.btn-sm.col-md-2.col-xs-12.pull-left.btn-update(type="button")= __("Save changes")
        
  script(type='text/template', id='tmpl-activities')
    div.row
        div#Work.col-md-6
            div.tittle= __("Work")
            div.col-md-6
              div.form-group
                label.input-text= __("Workplace")
                input.form-control.input-sm(type="text", name="place", value!='<%- work.place %>')
              div.form-group
                label.input-text= __("Position")
                input.form-control.input-sm(type="text", name="position", value!='<%- work.position %>')
              div.form-group
                label.input-text= __("Country")
                div.form-group
                    div.btn-group.btn-g
                        button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g(type="button", data-toggle="dropdown", name="country", value!='<%- work.country %>')
                          span.text= __("Enter country")
                          span.caret
                            
                        ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
                          for country in enumerations.Countries.enums
                            li: a(href="#", data-value="#{country.key}")= __(country.key)

                    div.clearfix
                div.form-group
                    label.input-text= __("City")
                    input.form-control.input-sm(type="text", name="city", value!='<%- work.city %>')

            div.col-md-6
                div.form-group
                    label.input-text= __("Beginning of work")
                    div.form-group
                      input.date.form-control.input-sm(type="text", data-language="#{locale}", name="dateBegin", value!='<%- work.dateBegin %>')
                    div.clearfix
                div.form-group
                    label.input-text= __("End of work")
                    div.form-group
                      input.date.form-control.input-sm(type="text", data-language="#{locale}", name="dateEnd", value!='<%- work.dateEnd %>')
                    div.clearfix

        div#HobbiesAndCreativity.col-md-6
          div.tittle= __("Hobbies and Creativity")
            
          textarea.form-control.text-area.bt-n.text-bl(rows="5", style="margin-top: 40px;", name="creativity") <%- creativity %>

          div.row
            div.col-md-6
              div.form-group
                label.input-text= __("Sources of inspiration")
                input.form-control.input-sm(type="text", name="sourcesOfInspiration", value!="<%- sourcesOfInspiration[0] %>")
              div.form-group
                input.form-control.input-sm(type="text", name="sourcesOfInspiration", value!="<%- sourcesOfInspiration[2] %>")
            div.col-md-6
              div.form-group(style="margin-top: 25px;")
                input.form-control.input-sm(type="text", name="sourcesOfInspiration", value!="<%- sourcesOfInspiration[1] %>")
              div.form-group
                input.form-control.input-sm(type="text", name="sourcesOfInspiration", value!="<%- sourcesOfInspiration[3] %>")
                
    div.clearfix
    
    div.col-md-12.col-xs-12
      hr
      button.btn.btn-default.btn-sm.col-md-2.col-xs-12.pull-left.btn-update(type="button")= __("Save changes")
        
  script(type='text/template', id='tmpl-additional')
    div.row
        div.col-md-6
            div.tittle= __("Interests")
            div.form-group
                label.input-text= __("Music")
                input.form-control.input-sm(type="text", name="music", value!="<%- music %>")
            div.form-group
                label.input-text= __("Movies")
                input.form-control.input-sm(type="text", name="movies", value!="<%- movies %>")
            div.form-group
                label.input-text= __("Books")
                input.form-control.input-sm(type="text", name="books", value!="<%- books %>")
            div.form-group
                label.input-text= __("Games")
                input.form-control.input-sm(type="text", name="games", value!="<%- games %>")

        div.col-md-6
            div.tittle= __("Hobbies and Creativity")
            
            div.row
                div.col-md-6
                    div.form-group
                        label.input-text= __("The main thing in life")
                        input.form-control.input-sm(type="text", name="theMainThingInLife", value!="<%- theMainThingInLife %>")
                    div.form-group
                        label.input-text= __("Important in others")
                        input.form-control.input-sm(type="text", name="importantInOthers", value!="<%- importantInOthers %>")
                    div.form-group
                        label.input-text= __("Bad habits")
                        input.form-control.input-sm(type="text", name="badHabits", value!="<%- badHabits %>")
                div.col-md-6
                    div.form-group
                        label.input-text= __("Religion")
                        input.form-control.input-sm(type="text", name="religion", value!="<%- religion %>")
                    div.form-group
                        label.input-text= __("Politics")
                        input.form-control.input-sm(type="text", name="politics", value!="<%- politics %>")

        div.clearfix
        
        div.col-md-6
            div.tittle= __("Quotations")
            textarea.form-control.text-area.bt-n.text-bl(rows="3", name="quotations") <%- quotations %>
        div.col-md-6
            div.tittle= __("About me")
            textarea.form-control.text-area.bt-n.text-bl(rows="3", name="aboutMe") <%- aboutMe %>
        div.col-md-12.col-xs-12
            hr
            button.btn.btn-default.btn-sm.col-md-2.col-xs-12.pull-left.btn-update(type="button")= __("Save changes")

  script(type='text/template', id='tmpl-identity')
    fieldset
      legend Identity
      
  script(type='text/template', id='tmpl-password')
    fieldset
      legend Set Password

  script(type='text/template', id='data-account') !{data.account}
  script(type='text/template', id='data-user') !{data.user}