.da-thumbs {
    list-style: outside none none;
    padding: 0;
    position: relative;
}
.da-thumbs li {
    float: left;
    margin-bottom: 10px;
    position: relative;
}
.da-thumbs li a, .da-thumbs li a img {
    display: block;
    position: relative;
}
.da-thumbs li a {
    overflow: hidden;
}
.da-thumbs li a div {
    background: rgba(0, 0, 0, 0.63) none repeat scroll 0 0;
    height: 100%;
    position: absolute;
    width: 100%;
}
.sp-ins {
    color: #fff;
    padding: 5px;
}
.sp-ins-i {
    cursor: pointer;
    float: right;
    font-size: 14px;
    padding: 3px;
}
.sp-ins-i:hover {
    color: #7ccafa;
}