extends ../../../layouts/arn

block head
  title= __("Messages")

block feet
  script(src='https://code.jquery.com/ui/1.11.3/jquery-ui.min.js')
  script(src='/views/account/settings/index.min.js?#{cacheBreaker}')

block content
        div.clearfix.visible-xs.visible-sm
        div.col-md-10
            div.tittle-dark Сообщения
            div.clearfix

            div.col-md-12
                div.row

                    div.row
                        div.col-md-4
                            div.col-md-12.con-message
                                div.col-md-5.col-sm-6.col-xs-12
                                    a(href="index.html"): img.img-responsive.friend.img-width(src="/media/arn/images/ava.jpg", alt="Artnet city")
                                    div.p-mess
                                        p: a(href="#") Asa Akira
                                        p(style="font-size:11px;") Online
                                        p.mess-time Сегодня в 11:31
                                    
                                
                                div.col-md-7.col-sm-6.col-xs-12.messages
                                   p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
                         
                        div.col-md-4
                            div.col-md-12.con-message-2
                                div.col-md-5.col-sm-6.col-xs-12
                                    a(href="index.html"): img(src="/media/arn/images/ava.jpg", class="img-responsive friend img-width", alt="Artnet city")
                                    div.p-mess
                                        p: a(href="#") Asa Akira
                                        p(style="font-size:11px;") Online
                                        p.mess-time Сегодня в 11:31
                                    
                                
                                div.col-md-7.col-sm-6.col-xs-12.messages
                                   p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.

                        div.col-md-4

                             div.col-md-12.con-message-2
                                div.col-md-5.col-sm-6.col-xs-12
                                    a(href="index.html"): img(src="/media/arn/images/ava.jpg", class="img-responsive friend img-width", alt="Artnet city")
                                    div.p-mess
                                        p: a(href="#") Asa Akira
                                        p(style="font-size:11px;") Online
                                        p.mess-time Сегодня в 11:31
                                    
                                
                                div.col-md-7.col-sm-6.col-xs-12.messages
                                    p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
                                    
                        div.col-md-4
                            div.col-md-12.con-message-2
                                div.col-md-5.col-sm-6.col-xs-12
                                    a(href="index.html"): img(src="/media/arn/images/ava.jpg", class="img-responsive friend img-width", alt="Artnet city")
                                    div.p-mess
                                        p: a(href="#") Asa Akira
                                        p(style="font-size:11px;") Online
                                        p.mess-time Сегодня в 11:31
                                    
                                
                                div.col-md-7.col-sm-6.col-xs-12.messages
                                    p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
                        div.col-md-4
                            div.col-md-12.con-message-2
                                div.col-md-5.col-sm-6.col-xs-12
                                    a(href="index.html"): img(src="/media/arn/images/ava.jpg", class="img-responsive friend img-width", alt="Artnet city")
                                    div.p-mess
                                        p: a(href="#") Asa Akira
                                        p(style="font-size:11px;") Online
                                        p.mess-time Сегодня в 11:31
                                    
                                div.col-md-7.col-sm-6.col-xs-12.messages
                                    p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
                                

                        div.col-md-4
                            div.col-md-12.con-message-2
                                div.col-md-5.col-sm-6.col-xs-12
                                    a(href="index.html"): img(src="/media/arn/images/ava.jpg", class="img-responsive friend img-width", alt="Artnet city")
                                    div.p-mess
                                        p: a(href="#") Asa Akira
                                        p(style="font-size:11px;") Online
                                        p.mess-time Сегодня в 11:31
                                    
                                div.col-md-7.col-sm-6.col-xs-12.messages
                                    p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. 
                                        

                                
    div.clearfix
    footer
        div.container
            div.row (style="text-align:center;")
                <hr> //- ???
                div.footer-link © 2015 a(href="http://whitecrow.com.ua/") «White Crow» //- ???
            
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    script (src="js/bootstrap.min.js")
