extends ../../../layouts/arn

block head
  title= __("Settings")

block feet
  script(src='https://code.jquery.com/ui/1.11.3/jquery-ui.min.js')
  script(src='/views/account/settings/index.min.js?#{cacheBreaker}')

block content
        div.col-md-2.visible-lg.visible-md
            div.tittle 
                Моя страница
                span.glyphicon.glyphicon-shopping-cart.visible-sm.visible-xs.pull-right (style="padding:2px 0px;")
                
            div.col-md-12.col-xs-6
                div.row
                    ul.nav.nav-pills.nav-stacked.main-left-menu
                        li: a(href="red.html") Редактировать
                        li: a(href="settings.html") Настройки

                    ul.nav.nav-pills.nav-stacked.main-left-menu
                        li: a(href="prof.html") Професии
                        li: a(href="org.html") Организации
                        li: a(href="friends.html")<span class="badge pull-right count">56</span>Друзья</a></li>
                        <li><a href="messages.html"><span class="badge pull-right count">42</span>Сообщения</a></li>
                        <li><a href="news.html">Новости</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 col-xs-6">
                <div class="row">
                    <ul class="nav nav-pills nav-stacked main-left-menu">
                        <li><a href="images.html">Изображения</a></li>
                        <li><a href="blog.html">Статьи</a></li>
                        <li><a href="video.html">Видео</a></li>
                        <li><a href="music.html">Аудио</a></li>
                    </ul>
                    <ul class="nav nav-pills nav-stacked main-left-menu">
                        <li><a href="goods.html">Товары</a></li>
                        <li><a href="services.html">Услуги</a></li>
                        <li><a href="orders.html"><span class="badge pull-right count">0</span>Заказы</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /full menu left -->
        <!-- mobile menu left -->
        <div class=" col-md-2 visible-xs visible-sm">
            <div class="row">
                <div class="panel-group" id="accordion" style="margin-bottom: 0px;border:none;">
                    <div class="panel" style="box-shadow:none;">
                        <div class="panel-heading" style="padding: 0px 19px;">
                            <div class="row">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="job-link">
                                    <div class="tittle menu-t">Моя страница <span class="glyphicon glyphicon-th-list visible-sm visible-xs pull-right" style="padding:2px 0px;"></span></div>
                                </a>
                            </div>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body" style="border:none;">
                                <div class="row">
                                    <div class="col-md-12 col-xs-6">
                                        <div class="row">
                                            <ul class="nav nav-pills nav-stacked main-left-menu">
                                                <li><a href="red.html">Редактировать</a></li>
                                                <li><a href="settings.html">Настройки</a></li>
                                            </ul>
                                            <ul class="nav nav-pills nav-stacked main-left-menu">
                                                <li><a href="prof.html">Професии</a></li>
                                                <li><a href="org.html">Организации</a></li>
                                                <li><a href="friends.html"><span class="badge pull-right count">56</span>Друзья</a></li>
                                                <li><a href="messages.html"><span class="badge pull-right count">42</span>Сообщения</a></li>
                                                <li><a href="news.html">Новости</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-xs-6">
                                        <div class="row">
                                            <ul class="nav nav-pills nav-stacked main-left-menu">
                                                <li><a href="images.html">Изображения</a></li>
                                                <li><a href="blog.html">Статьи</a></li>
                                                <li><a href="video.html">Видео</a></li>
                                                <li><a href="music.html">Аудио</a></li>
                                            </ul>
                                            <ul class="nav nav-pills nav-stacked main-left-menu">
                                                <li><a href="goods.html">Товары</a></li>
                                                <li><a href="services.html">Услуги</a></li>
                                                <li><a href="orders.html"><span class="badge pull-right count">0</span>Заказы</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /mobile menu left -->
        <div class="clearfix visible-xs visible-sm"></div>
        <div class="col-md-10">
            <div class="tittle-dark">Сообщения</div>
            <div class="clearfix"></div>

            <div class="col-md-12">
                <div class="row">

                    <div class="row">
                        <div class="col-md-4" onclick="location='messages-ins.html'">
                            <div class="col-md-12 con-message ">
                                <div class="col-md-5 col-sm-6 col-xs-12">
                                    <a href="index.html"><img src="images/ava.jpg" class="img-responsive friend img-width" alt="Artnet city"></a>
                                    <div class="p-mess">
                                        <p><a href="#">Asa Akira</a></p>
                                        <p style="font-size:11px;">Online</p>
                                        <p class="mess-time">Сегодня в 11:31</p>
                                    </div>
                                </div>
                                <div class="col-md-7 col-sm-6 col-xs-12 messages">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4" onclick="location='messages-ins.html'">
                            <div class="col-md-12 con-message-2 ">
                                <div class="col-md-5 col-sm-6 col-xs-12">
                                    <a href="index.html"><img src="images/ava.jpg" class="img-responsive friend img-width" alt="Artnet city"></a>
                                    <div class="p-mess">
                                        <p><a href="#">Asa Akira</a></p>
                                        <p style="font-size:11px;">Online</p>
                                        <p class="mess-time">Сегодня в 11:31</p>
                                    </div>
                                </div>
                                <div class="col-md-7 col-sm-6 col-xs-12 messages">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4" onclick="location='messages-ins.html'">

                            <div class="col-md-12 con-message-2 ">
                                <div class="col-md-5 col-sm-6 col-xs-12">
                                    <a href="index.html"><img src="images/ava.jpg" class="img-responsive friend img-width" alt="Artnet city"></a>
                                    <div class="p-mess">
                                        <p><a href="#">Asa Akira</a></p>
                                        <p style="font-size:11px;">Online</p>
                                        <p class="mess-time">Сегодня в 11:31</p>
                                    </div>
                                </div>
                                <div class="col-md-7 col-sm-6 col-xs-12 messages">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

                                </div>
                            </div>

                        </div>

                        <div class="col-md-4" onclick="location='messages-ins.html'">
                            <div class="col-md-12 con-message-2 ">
                                <div class="col-md-5 col-sm-6 col-xs-12">
                                    <a href="index.html"><img src="images/ava.jpg" class="img-responsive friend img-width" alt="Artnet city"></a>
                                    <div class="p-mess">
                                        <p><a href="#">Asa Akira</a></p>
                                        <p style="font-size:11px;">Online</p>
                                        <p class="mess-time">Сегодня в 11:31</p>
                                    </div>
                                </div>
                                <div class="col-md-7 col-sm-6 col-xs-12 messages">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4" onclick="location='messages-ins.html'">
                            <div class="col-md-12 con-message-2 ">
                                <div class="col-md-5 col-sm-6 col-xs-12">
                                    <a href="index.html"><img src="images/ava.jpg" class="img-responsive friend img-width" alt="Artnet city"></a>
                                    <div class="p-mess">
                                        <p><a href="#">Asa Akira</a></p>
                                        <p style="font-size:11px;">Online</p>
                                        <p class="mess-time">Сегодня в 11:31</p>
                                    </div>
                                </div>
                                <div class="col-md-7 col-sm-6 col-xs-12 messages">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4" onclick="location='messages-ins.html'">
                            <div class="col-md-12 con-message-2 ">
                                <div class="col-md-5 col-sm-6 col-xs-12">
                                    <a href="index.html"><img src="images/ava.jpg" class="img-responsive friend img-width" alt="Artnet city"></a>
                                    <div class="p-mess">
                                        <p><a href="#">Asa Akira</a></p>
                                        <p style="font-size:11px;">Online</p>
                                        <p class="mess-time">Сегодня в 11:31</p>
                                    </div>
                                </div>
                                <div class="col-md-7 col-sm-6 col-xs-12 messages">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-12 con-message-2 ">
                                <div class="col-md-5 col-sm-6 col-xs-12">
                                    <a href="index.html"><img src="images/ava.jpg" class="img-responsive friend img-width" alt="Artnet city"></a>
                                    <div class="p-mess">
                                        <p><a href="#">Asa Akira</a></p>
                                        <p style="font-size:11px;">Online</p>
                                        <p class="mess-time">Сегодня в 11:31</p>
                                    </div>
                                </div>
                                <div class="col-md-7 col-sm-6 col-xs-12 messages">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4" onclick="location='messages-ins.html'">
                            <div class="col-md-12 con-message-2 ">
                                <div class="col-md-5 col-sm-6 col-xs-12">
                                    <a href="index.html"><img src="images/ava.jpg" class="img-responsive friend img-width" alt="Artnet city"></a>
                                    <div class="p-mess">
                                        <p><a href="#">Asa Akira</a></p>
                                        <p style="font-size:11px;">Online</p>
                                        <p class="mess-time">Сегодня в 11:31</p>
                                    </div>
                                </div>
                                <div class="col-md-7 col-sm-6 col-xs-12 messages">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="col-md-12 con-message-2 ">
                                <div class="col-md-5 col-sm-6 col-xs-12">
                                    <a href="index.html"><img src="images/ava.jpg" class="img-responsive friend img-width" alt="Artnet city"></a>
                                    <div class="p-mess">
                                        <p><a href="#">Asa Akira</a></p>
                                        <p style="font-size:11px;">Online</p>
                                        <p class="mess-time">Сегодня в 11:31</p>
                                    </div>
                                </div>
                                <div class="col-md-7 col-sm-6 col-xs-12 messages">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" onclick="location='messages-ins.html'">
                            <div class="col-md-12 con-message-2 ">
                                <div class="col-md-5 col-sm-6 col-xs-12">
                                    <a href="index.html"><img src="images/ava.jpg" class="img-responsive friend img-width" alt="Artnet city"></a>
                                    <div class="p-mess">
                                        <p><a href="#">Asa Akira</a></p>
                                        <p style="font-size:11px;">Online</p>
                                        <p class="mess-time">Сегодня в 11:31</p>
                                    </div>
                                </div>
                                <div class="col-md-7 col-sm-6 col-xs-12 messages">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="col-md-12 con-message-2 ">
                                <div class="col-md-5 col-sm-6 col-xs-12">
                                    <a href="index.html"><img src="images/ava.jpg" class="img-responsive friend img-width" alt="Artnet city"></a>
                                    <div class="p-mess">
                                        <p><a href="#">Asa Akira</a></p>
                                        <p style="font-size:11px;">Online</p>
                                        <p class="mess-time">Сегодня в 11:31</p>
                                    </div>
                                </div>
                                <div class="col-md-7 col-sm-6 col-xs-12 messages">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4" onclick="location='messages-ins.html'">
                            <div class="col-md-12 con-message-2 ">
                                <div class="col-md-5 col-sm-6 col-xs-12">
                                    <a href="index.html"><img src="images/ava.jpg" class="img-responsive friend img-width" alt="Artnet city"></a>
                                    <div class="p-mess">
                                        <p><a href="#">Asa Akira</a></p>
                                        <p style="font-size:11px;">Online</p>
                                        <p class="mess-time">Сегодня в 11:31</p>
                                    </div>
                                </div>
                                <div class="col-md-7 col-sm-6 col-xs-12 messages">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


    </div>
    <div class="clearfix"></div>
    <footer>
        <div class="container">
            <div class="row" style="text-align:center;">
                <hr>
                <div class="footer-link">© 2015 <a href="http://whitecrow.com.ua/"> «White Crow»</a></div>
            </div>
        </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>

</html>