extends ../layouts/arn

block head
  title ArtNetCity

block neck
  link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')

block feet
  script(src='/views/index.min.js?#{cacheBreaker}')
  
block modal_windows
  div#modalAddContact.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
  
  script(type='text/template', id='tmpl-modalAddContact')
      div.modal-dialog(style="z-index: 9999;top: 100px;")
          input(type="hidden", name="userNum", value="#{user.num}")
          
          div.modal-content
              div.modal-header
                  button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                  h4.modal-title= __("Add to contacts")

              div.modal-body
                  div.row
                      div.col-md-6
                          div.form-group
                              div.btn-group.btn-g(style="margin-bottom:10px;")
                                  button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g.bt-one(type="button", data-toggle="dropdown")
                                      span.text Профессиональные
                                      span.caret

                                  ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
                                      li: a(href="#") Личные
                                      li: a(href="#") Скрытые

                      div.col-md-6
                          div.form-group
                              div.btn-group.btn-g
                                  button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g.bt-one(type="button", data-toggle="dropdown")
                                      span.text Группы
                                      span.caret

                                  ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
                                      li: a(href="#") Вариант 1
                                      li: a(href="#") Вариант 2
              div.modal-footer
                  button.btn.btn-default.btn-sm.pull-right.btn-add-contact= __("Add")
                  //Добавить

  div#modalSendMessage.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
  
  script(type='text/template', id='tmpl-modalSendMessage')
      div.modal-dialog(style="z-index: 9999;top: 100px;")
          div.modal-content
              div.modal-header
                  button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                  h4.modal-title Новое сообщение

              div.modal-body
                  div.tittle(style="font-size: 12px; padding: 5px 10px;")
                    |Получатель:
                    a(href="#") Asa Akira
                    a.pull-right(href="/messages-dialog/") Перейти к диалогу

                  textarea.form-control.text-area(rows="7", style="margin-bottom:0px;font-size:12px;")
              div.modal-footer
                  button.btn.btn-default.btn-sm.pull-right Отправить
                  a(href="#"): span.glyphicon.glyphicon-paperclip.pull-right.paperclip-main

  div#modalSubscribe.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
  
  script(type='text/template', id='tmpl-modalSubscribe')
      div.modal-dialog(style="z-index: 9999; top: 100px;")
          div.modal-content
              div.modal-header
                  button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                  h4.modal-title Опции подписки

              div.modal-body
                  div.row
                      div.col-md-12
                          div.form-group
                              <!-- Split button -->
                              div.btn-group.btn-g
                                  button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g.bt-one(type="button", data-toggle="dropdown")
                                      span.text На личные обновления
                                      span.caret

                                  ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
                                      li: a(href="#") На аккаунт

              div.modal-footer
                  button.btn.btn-default.btn-sm.pull-right Подписаться

block content
  div.clearfix.visible-xs.visible-sm
  
  div.col-md-8
      div#box(style="display: block;")
          div.tittle-dark
              a(style="color:#fff;cursor:pointer;", onclick="openbox3('boxb'); return false") #{account.name.full}
              span#boxb.bread-pad(style="display:none;")
                span(style="color:#3f9acd;") l
                a.bread-c(href="/")= __("Home")
                span(style="color:#3f9acd;") -&gt;
                a.bread-c(href="/account/settings/")= __("Profile")
                span(style="color:#3f9acd;") -&gt;
                span(style="color:#C2E5F9;") #{account.name.full}
              div.pull-right Online
              
          div.clearfix.visible-xs.visible-sm
          
          div.clearfix
          
          div.col-md-12
              div.row
                  div.col-md-3.col-xs-3(style="padding-left: 0px;")
                      img.img-responsive.friend(src="/media/arn/images/ava-1.jpg", alt="Artnet city")
                  div.col-md-9.col-xs-9
                      div.row
                          div.tittle.visible-md.visible-lg.visible-sm(style="margin-bottom:10px;")= __("User information")
                          div.status-pro 
                            if (account._status)
                              span #{account._status}
                            else
                              span= __("change status")
                          div.border.visible-md.visible-lg.visible-sm
                          div.col-md-6.col-xs-6.visible-md.visible-lg.visible-sm(style="border-right: 1px solid #D8F0FF;")
                              table.table.pro-info-t
                                if account.showBirthday === 'yes'
                                  tr
                                    td= __("Date of Birth") + ':'
                                    td #{account._birthday}
                                if account.maritalStatus
                                  tr
                                    td= __("Marital status") + ':'
                                    td= __(account.maritalStatus)
                                if account.birthplaceCountry
                                  tr
                                    td= __("Place of Birth") + ':'
                                    td= __(account.birthplaceCountry)
                                if account.birthplaceCity
                                  tr
                                    td= __("City of Birth") + ':'
                                    td #{account.birthplaceCity}
                                if account.languages && account.languages.length
                                  tr
                                    td= __("Languages") + ':'
                                    td
                                      for language in account.languages
                                        span= __(language)
                                        br
                                if account.phone || account.phoneSecond
                                  tr
                                    td= __("Phone")+ ':'
                                    td 
                                      |#{account.phone}
                                      if account.phoneSecond && account.phone
                                        br
                                      |#{account.phoneSecond}
                                if account.skype
                                  tr
                                    td= __("Skype") + ':'
                                    td #{account.skype}
                                if account.site
                                  tr
                                    td= __("Personal website") + ':'
                                    td: a(href="#{account.site}", target="_blank") #{account.site}
                                if account.creativity
                                  tr
                                    td= __("Activities") + ':'
                                    td #{account.creativity}
                                if account.music || account.movies || account.books || account.games
                                  tr
                                    td= __("Interests") + ':'
                                    td
                                      if account.music
                                        |#{account.music}
                                        br
                                      if account.movies
                                        |#{account.movies}
                                        br
                                      if account.books
                                        |#{account.books}
                                        br
                                      if account.games
                                        |#{account.games}
                                        br

                          div.col-md-6.col-xs-6.visible-md.visible-lg.visible-sm
                              table.table.pro-info-t
                                  if account.works && account.works.length
                                    tr
                                      td= __("Professions") + ':'
                                      td
                                        for work in account.works
                                          a(href="#") #{work.position}
                                          br
                                  if account.coleges && account.coleges.length
                                    tr
                                      td= __("Education") + ':'
                                      td Высшее
                                  if account.coleges && account.coleges.length
                                    tr
                                      td= __("Higher education") + ':'
                                      td
                                        for colege in account.coleges
                                          span #{colege.name}
                                          
                                  if account.schools && account.schools.length
                                    tr
                                      td= __("Schools") + ':'
                                      td
                                        for school in account.schools
                                          span #{school.name}
                                          
                                  if account.sourcesOfInspiration && account.sourcesOfInspiration.length
                                    tr
                                      td= __("Sources of inspiration")
                                      td
                                        for s in account.sourcesOfInspiration
                                          |- #{s}
                                          br
                                          
                          div.clearfix
                          
                          if user && _user.id != user.id
                            div.pro-button
                            
                            div.row
                                div#contacts-button.col-md-4

                                div.col-md-4
                                    button.btn.btn-default.btn-sm.bt-n.col-xs-12.col-md-12(data-toggle="modal", data-target="#modalSendMessage")= __("Send message")
                                div.col-md-4
                                    button.btn.btn-default.btn-sm.bt-n.col-md-12.col-xs-12(data-toggle="modal", data-target="#modalSubscribe")= __("Subscribe now")
                                    
          div.col-md-12(style="margin-bottom:5px;")
              div.row
                  div.tittle= __("Products & Media")
                  div.row
                      div.col-md-2.col-xs-4
                          a(href="/"): img.img-responsive.friend.img-width(src="/media/arn/images/gold.jpg", alt="Artnet city")
                      div.col-md-2.col-xs-4
                          a(href="/"): img.img-responsive.friend.img-width(src="/media/arn/images/gold.jpg", alt="Artnet city")
                      div.col-md-2.col-xs-4
                          a(href="/"): img.img-responsive.friend.img-width(src="/media/arn/images/gold.jpg", alt="Artnet city")
                      div.col-md-2.col-xs-4
                          a(href="/"): img.img-responsive.friend.img-width(src="/media/arn/images/gold.jpg", alt="Artnet city")
                      div.col-md-2.col-xs-4
                          a(href="/"): img.img-responsive.friend.img-width(src="/media/arn/images/gold.jpg", alt="Artnet city")
                      div.col-md-2.col-xs-4
                          a(href="/"): img.img-responsive.friend.img-width(src="/media/arn/images/gold.jpg", alt="Artnet city")
      div.col-md-12
          div.row
              ul#myTab.nav.nav-tabs.nav-left.nav-main
                  li.active: a.tabs-main(href="#service-one", data-toggle="tab", onclick="openbox2('box'); return false")= __("Wall")
                  li: a.tabs-main(href="#service-two", data-toggle="tab", onclick="openbox2('box'); return false")= __("Profile full")
                  li: a.tabs-main(href="#service-three", data-toggle="tab", onclick="openbox('box'); return false")= __("Professions")
              div#myTabContent.tab-content
                  div#service-one.tab-pane.fade.active.in.tabs-main-ins
                      div.row
                          div.col-md-12
                              div.row
                                  div#accordion.panel-group(style="margin-bottom: 0px;border:none;")
                                      div.panel(style="box-shadow:none;")
                                          div.panel-heading(style="padding: 0px 19px;")
                                              div.row
                                                  a.job-link(data-toggle="collapse", data-parent="#accordion", href="#collapseOne-3")
                                                      div.tittle-index.menu-t.row(style="margin-bottom:0px;") 
                                                        span= __("Write on wall")
                                                        span.glyphicon.glyphicon-pencil(style="padding: 5px 0px 0px 5px;font-size: 11px;")
                                          div#collapseOne-3.panel-collapse.collapse
                                              div.panel-body(style="border:none; padding: 15px 15px 0px 15px;")
                                                  input#exampleInputEmail2.form-control.input-post(type="text", placeholder="Заголовок", style="font-size: 12px;")
                                                  textarea.form-control.text-area(rows="3", placeholder="Текст")
                                                  button.btn.btn-default.btn-sm.pull-right= __("Send")
                                                  a(href="#")
                                                    span.glyphicon.glyphicon-paperclip.pull-right.paperclip-main
  
                      div.clearfix
                      
                      div.post
                          hr
                          h4.p-m Как Google индексирует JavaScript: результаты тестов.
                          p
                            |Пока все переживали по поводу того, что же сделает Google с мобильной выдачей, специалисты из Merkle|RKG решили изучить еще один важный вопрос:
                            |как Google управляется с JavaScript? Они провели серию тестов, чтобы посмотреть, как различные функции JavaScript индексируются Google, а результаты изложили в статье на Search Engine Land. 
                            |AIN.UA предлагает вам перевод ее тезисов. Редакция благодарит веб-девелопера Promodo Николая Тимурку за консультации при переводе.
                          div.p-bottom
                              p.pull-left
                                |2 ноября в 14:12 I 
                                a(href="#", data-toggle="modal", data-target="#myModalcomm")= __("Comment")
                              p.pull-right
                                a.btn.btn-pop-com.popover-dismissible(tabindex="0", data-html="true", data-container="body", role="button", data-toggle="popover", data-placement="top", data-content="<a href='#' class='pop'>Поделиться записью</a>", data-trigger="focus") 
                                  span= __("Like")
                                  span.glyphicon.glyphicon-heart-empty(style="font-size:9px;")
  
                      div.post
                          h4.p-m Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                          div.row
                              div.col-md-3.col-xs-3
                                  img.img-responsive.friend.img-width(src="/media/arn/images/japan.jpg", alt="Artnet city")
                              div.col-md-3.col-xs-3
                                  img.img-responsive.friend.img-width(src="/media/arn/images/japan.jpg", alt="Artnet city")
                              div.col-md-3.col-xs-3
                                  img.img-responsive.friend.img-width(src="/media/arn/images/japan.jpg", alt="Artnet city")
                              div.col-md-3.col-xs-3
                                  img.img-responsive.friend.img-width(src="/media/arn/images/japan.jpg", alt="Artnet city")
                              div.col-md-3.col-xs-3
                                  img.img-responsive.friend.img-width(src="/media/arn/images/japan.jpg", alt="Artnet city")
                              div.col-md-3.col-xs-3
                                  img.img-responsive.friend.img-width(src="/media/arn/images/japan.jpg", alt="Artnet city")
                              div.col-md-3.col-xs-3
                                  img.img-responsive.friend.img-width(src="/media/arn/images/japan.jpg", alt="Artnet city")
                              div.col-md-3.col-xs-3
                                  img.img-responsive.friend.img-width(src="/media/arn/images/japan.jpg", alt="Artnet city")
                          div.clearfix
                          div.p-bottom
                              p.pull-left
                                |2 ноября в 14:12 I 
                                a(href="#", data-toggle="modal", data-target="#myModalcomm")= __("Comment")
                              p.pull-right
                                a.btn.btn-pop-com.popover-dismissible(tabindex="0", data-html="true", data-container="body", role="button", data-toggle="popover", data-placement="top", data-content="<a href='#' class='pop'>Поделиться записью</a>", data-trigger="focus")
                                  span= __("Like")
                                  span.glyphicon.glyphicon-heart-empty(style="font-size:9px;")
                      div.post
                          h4.p-m Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                          p
                            |Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,Nullam quis ante.
                            |Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc
                          div.p-bottom
                              p.pull-left
                                |2 ноября в 14:12 I 
                                a(href="#", data-toggle="modal", data-target="#myModalcomm")= __("Comment")
                              p.pull-right
                                a.btn.btn-pop-com.popover-dismissible(tabindex="0", data-html="true", data-container="body", role="button", data-toggle="popover", data-placement="top", data-content="<a href='#' class='pop'>Поделиться записью</a>", data-trigger="focus")
                                  span= __("Like")
                                  span.glyphicon.glyphicon-heart-empty(style="font-size:9px;")
                      div.post
                          h4.p-m Собралась я как-то маме фен купить.
                          div.media.modal-comm(style="margin-bottom:10px;")
                              a.pull-left(href="#")
                                  img.media-object(src="/media/arn/images/ava-m.jpg", alt="...", style="width:64px;height:64px;")
                              div.media-body
                                  h4.media-heading: a(href="#") Асина Нагасаки
                                  p
                                    |Один известный сайт показал мне, что именно тот фен, который нужен, в Эльдорадо дешевле, чем в других магазинах. Удивившись и заподозрив неладное отправилась в близжайший магазин этой сети. Уже на месте я поняла, что не
                                    |зря сомневалась - ценник оказался в два раза выше, чем на сайте. Стою расстоенная, фен нужен, но переплачивать совсем не хочется. Тут подходит консультант.
                          div.p-bottom
                              p.pull-left
                                |2 ноября в 14:12 I 
                                a(href="#", data-toggle="modal", data-target="#myModalcomm")= __("Comment")
                              p.pull-right
                                a.btn.btn-pop-com.popover-dismissible(tabindex="0", data-html="true", data-container="body", role="button", data-toggle="popover", data-placement="top", data-content="<a href='#' class='pop'>Поделиться записью</a>", data-trigger="focus")
                                  span= __("Like")
                                  span.glyphicon.glyphicon-heart-empty(style="font-size:9px;")
                  div#service-two.tab-pane.fade.tabs-main-ins
                      div.col-md-4(style="border-right: 1px solid #D8F0FF;")
                          div.col-md-12.col-xs-12
                              div.row
                                  table.table.pro-info-t
                                    if account.showBirthday === 'yes'
                                      tr
                                        td= __("Date of Birth") + ':'
                                        td #{account._birthday}
                                    if account.maritalStatus
                                      tr
                                        td= __("Marital status") + ':'
                                        td= __(account.maritalStatus)
                                    if account.birthplaceCountry
                                      tr
                                        td= __("Place of Birth") + ':'
                                        td= __(account.birthplaceCountry)
                                    if account.birthplaceCity
                                      tr
                                        td= __("City of Birth") + ':'
                                        td #{account.birthplaceCity}
                                    if account.languages && account.languages.length
                                      tr
                                        td= __("Languages") + ':'
                                        td
                                          for language in account.languages
                                            span= __(language)
                                            br
                                    if account.phone || account.phoneSecond
                                      tr
                                        td= __("Phone")+ ':'
                                        td 
                                          |#{account.phone}
                                          if account.phoneSecond && account.phone
                                            br
                                          |#{account.phoneSecond}
                                    if account.skype
                                      tr
                                        td= __("Skype") + ':'
                                        td #{account.skype}
                                    if account.site
                                      tr
                                        td= __("Personal website") + ':'
                                        td: a(href="#{account.site}", target="_blank") #{account.site}
                                    tr
                                      td= __("Activities") + ':'
                                      td Актриса
                                    tr
                                      td= __("Interests") + ':'
                                      td Активные и пасивные

                      div.col-md-4(style="border-right: 1px solid #D8F0FF;")
                          div.col-md-12.col-xs-12
                              div.row
                                  table.table.pro-info-t
                                    if account.showBirthday === 'yes'
                                      tr
                                        td= __("Date of Birth") + ':'
                                        td #{account._birthday}
                                    if account.maritalStatus
                                      tr
                                        td= __("Marital status") + ':'
                                        td= __(account.maritalStatus)
                                    if account.birthplaceCountry
                                      tr
                                        td= __("Place of Birth") + ':'
                                        td= __(account.birthplaceCountry)
                                    if account.birthplaceCity
                                      tr
                                        td= __("City of Birth") + ':'
                                        td #{account.birthplaceCity}
                                    if account.languages && account.languages.length
                                      tr
                                        td= __("Languages") + ':'
                                        td
                                          for language in account.languages
                                            span= __(language)
                                            br
                                    if account.phone || account.phoneSecond
                                      tr
                                        td= __("Phone")+ ':'
                                        td 
                                          |#{account.phone}
                                          if account.phoneSecond && account.phone
                                            br
                                          |#{account.phoneSecond}
                                    if account.skype
                                      tr
                                        td= __("Skype") + ':'
                                        td #{account.skype}
                                    if account.site
                                      tr
                                        td= __("Personal website") + ':'
                                        td: a(href="#{account.site}", target="_blank") #{account.site}
                                    tr
                                      td= __("Activities") + ':'
                                      td Актриса
                                    tr
                                      td= __("Interests") + ':'
                                      td Активные и пасивные
                                          
                      div.col-md-4
                          div.col-md-12.col-xs-12
                              div.row
                                  table.table.pro-info-t
                                    if account.showBirthday === 'yes'
                                      tr
                                        td= __("Date of Birth") + ':'
                                        td #{account._birthday}
                                    if account.maritalStatus
                                      tr
                                        td= __("Marital status") + ':'
                                        td= __(account.maritalStatus)
                                    if account.birthplaceCountry
                                      tr
                                        td= __("Place of Birth") + ':'
                                        td= __(account.birthplaceCountry)
                                    if account.birthplaceCity
                                      tr
                                        td= __("City of Birth") + ':'
                                        td #{account.birthplaceCity}
                                    if account.languages && account.languages.length
                                      tr
                                        td= __("Languages") + ':'
                                        td
                                          for language in account.languages
                                            span= __(language)
                                            br
                                    if account.phone || account.phoneSecond
                                      tr
                                        td= __("Phone")+ ':'
                                        td 
                                          |#{account.phone}
                                          if account.phoneSecond && account.phone
                                            br
                                          |#{account.phoneSecond}
                                    if account.skype
                                      tr
                                        td= __("Skype") + ':'
                                        td #{account.skype}
                                    if account.site
                                      tr
                                        td= __("Personal website") + ':'
                                        td: a(href="#{account.site}", target="_blank") #{account.site}
                                    tr
                                      td= __("Activities") + ':'
                                      td Актриса
                                    tr
                                      td= __("Interests") + ':'
                                      td Активные и пасивные
                                      
                  div#service-three.tab-pane.fade.tabs-main-ins
                      img.img-responsive.img-width(src="/media/arn/images/prof-v.jpg", alt="Artnet city")
                      div.col-md-12
                          div.row
                              ul#myTab3.nav.nav-tabs.prof-nav.nav-justified.prof-menu
                                  li.active: a.tabs-main(href="#service-one-1", data-toggle="tab") Основная информация
                                  li: a.tabs-main(href="#service-one-3", data-toggle="tab") Доп. страница
                      div.clearfix
                      div#myTabContent3.tab-content
                          div#service-one-3.tab-pane.fade Содержимое новой страницы
                          div#service-one-1.tab-pane.fade.active.in
                              div.row
                                  div.col-md-3
                                      a(href="index.html")
                                        img.img-responsive.friend.img-width(src="/media/arn/images/ava-m.jpg", alt="Artnet city")
                                      button.btn.btn-default.btn-sm.bt-n(style="margin-right:10px;width:100%;", data-toggle="modal", data-target="#myModalfol") Подписаться
  
                                  div.col-md-9.col-xs-12
                                      div.row
                                          div.col-md-12
                                              div.tittle(style="margin-bottom:10px;") Основная информация
                                              div.status-pro Золотое золото золотит золото
                                              div.border
  
                                          div.col-md-6.col-xs-12
                                              div.border-prof.visible-md.visible-lg
                                              table.table.pro-info-t
                                                  tr
                                                      td.col-xs-6 Проф.псевдоним:
                                                      td.col-xs-6 Золушка
                                                  tr
                                                      td.col-xs-6 Активная деятельность:
                                                      td.col-xs-6 с 01.01.0
                                                  tr
                                                      td.col-xs-6 Обучение:
                                                      td.col-xs-6 Золушка
                                                  tr
                                                      td.col-xs-6 Степень владения:
                                                      td.col-xs-6 Ученик ювелира
                                                  tr
                                                    td.col-xs-6 Работа и практика:
                                                    td.col-xs-6 Хороший
                                                  tr
                                                    td.col-xs-6
                                                      |Источники
                                                      br
                                                      |вдохновения: 
                                                    td.col-xs-6 Золото
                                                  
                                          div.col-md-6.col-xs-12
                                              table.table.pro-info-t
                                                  tr
                                                      td.col-xs-6 <strong>Ищу работу</strong> </td>
                                                      td.col-xs-6
                                                  tr
                                                      td.col-xs-6 Адрес:
                                                      td.col-xs-6 Улица ватутина 44 кв.2
                                                  tr
                                                      td.col-xs-6 Телефон:
                                                      td.col-xs-6 +38 093 937 99 92
                                                  tr
                                                      td.col-xs-6 Контактное лицо:
                                                      td.col-xs-6 Валентина Альбертовна
                                                  tr
                                                      td.col-xs-6 Skype:
                                                      td.col-xs-6 VALYA228
                                                  tr
                                                      td.col-xs-6 Личный сайт:
                                                      td.col-xs-6: a(href="#") valya.com.tk
  
                                      div.col-md-12.col-xs-12
                                          div.row
                                              div.pro-button
                                  div.clearfix
  
                                  div.col-md-12.main-left-menu(style="margin-bottom: 10px;")
                                      div.tittle= __("Products & Media")
                                      div.row
                                          div.col-md-2.col-xs-4
                                              a(href="index.html"): img.img.responsive.friend.img-width(src="/media/arn/images/gold.jpg", alt="Artnet city")
                                          div.col-md-2.col-xs-4
                                              a(href="index.html"): img.img.responsive.friend.img-width(src="/media/arn/images/gold.jpg", alt="Artnet city")
                                          div.col-md-2.col-xs-4
                                              a(href="index.html"): img.img.responsive.friend.img-width(src="/media/arn/images/gold.jpg", alt="Artnet city")
                                          div.col-md-2.col-xs-4
                                              a(href="index.html"): img.img.responsive.friend.img-width(src="/media/arn/images/gold.jpg", alt="Artnet city")
                                          div.col-md-2.col-xs-4
                                              a(href="index.html"): img.img.responsive.friend.img-width(src="/media/arn/images/gold.jpg", alt="Artnet city")
                                          div.col-md-2.col-xs-4
                                              a(href="index.html"): img.img.responsive.friend.img-width(src="/media/arn/images/gold.jpg", alt="Artnet city")
                                              
                                  div.col-md-12.bt-n
                                      div.tittle= __("Terms of cooperation")
                                      ul.list-unstyled.pro-info(style="padding-left:10px;")
                                          li Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
                                          li Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
                                          li Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
                                          li Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
                                          li Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
                                          li Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
  
                                  div.col-md-12
                                      div.tittle= __("Terms of cooperation")
                                      ul.list-unstyled.pro-info(style="padding-left:10px;")
                                          li Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
                                          li Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
                                          li Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
                                          li Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
                                          li Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
                                          li Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
  
  div.clearfix.visible-xs.visible-sm
  
  div.col-md-2
      div.tittle= __("Contacts") + '(' + '25' + ')'
      div.row
          div.col-md-6.col-xs-4
              a(href="index.html"): img.img-responsive.friend(src="/media/arn/images/ava.jpg", alt="Artnet city")
              a(href="#")
                p.fr-tittle 
                  |Асина 
                  br
                  |Нагасаки
  
          div.col-md-6.col-xs-4
              a(href="index.html"): img.img-responsive.friend(src="/media/arn/images/ava.jpg", alt="Artnet city")
              a(href="#")
                p.fr-tittle 
                  |Асина 
                  br
                  |Нагасакимото
  
          div.col-md-6.col-xs-4
              a(href="index.html"): img.img-responsive.friend(src="/media/arn/images/ava.jpg", alt="Artnet city")
              a(href="#")
                p.fr-tittle 
                  |Асина 
                  br
                  |Нагасаки
  
          div.col-md-6.col-xs-4
              a(href="index.html"): img.img-responsive.friend(src="/media/arn/images/ava.jpg", alt="Artnet city")
              a(href="#")
                p.fr-tittle 
                  |Асина 
                  br
                  |Нагасакимото
          
          div.col-md-6.col-xs-4
              a(href="index.html"): img.img-responsive.friend(src="/media/arn/images/ava.jpg", alt="Artnet city")
              a(href="#")
                p.fr-tittle 
                  |Асина 
                  br
                  |Нагасаки
          
          div.col-md-6.col-xs-4
              a(href="index.html"): img.img-responsive.friend(src="/media/arn/images/ava.jpg", alt="Artnet city")
              a(href="#")
                p.fr-tittle 
                  |Асина 
                  br
                  |Нагасакимото
          
          a(href="/friends/")
              p.fr-tittle= __("View all")

      div.tittle= __("Texts")

      div.row
          div.col-md-12.bt-n
              div(style="margin-bottom:5px;")
                  div.text-blog.row
                      div.col-md-12
                          div(style="font-weight: bold;color: #0A1450;") Название текста
  
                  p.text-blog-t
                      |1. Когда ты видишь на улице рваных, матерящихся велосипедистов, катающихся на странных велосипедах с глючными переключателями и иногда падающих на ровном месте — это стрит 2. Если видишь велосипедистов в лесу, прыгающих с кочек, матерящихся, жрущих сосиски
                      |и раскидывающих пустые пивные банки и байки по лесу, и, вообще, всячески выпендривающихся — это дерт
  
  script.
    _userId = '#{_user.id}';
    userNum = #{user.num};
  
  script(type='text/template', id='tmpl-contactsButton')
    include contacts/button.jade

  script(type='text/template', id='data-account') !{data.account}
  script(type='text/template', id='data-user') !{data.user}
  script(type='text/template', id='data-contact') !{data.contact}
