extends ../../layouts/arn

block head
  title= __("Rating")

block feet
  script(src='https://code.jquery.com/ui/1.11.3/jquery-ui.min.js')
  script(src='/views/account/settings/index.min.js?#{cacheBreaker}')

block content
        div.clearfix.visible-xs.visible-sm
        div.col-md-10
            div.tittle-dark Репутация и рейтинг
            div.clearfix

            div.col-md-12
                div.row
                    ul#myTab.nav.nav-tabs.nav-left.nav-main
                        li.active: a.tabs-main(href="#service-one", data-toggle="tab") Торговая репутация
                        li: a.tabs-main(href="#service-two" data-toggle="tab") Личный рейтинг
                        li: a.tabs-main(href="#service-three" data-toggle="tab") Профессиональный рейтинг
                    

                    div#myTabContent.tab-content
                        div#service-one.tab-pane.fade.active.in.tabs-main-ins.row
                            div.col-md-3.col-sm-6.col-xs-12
                                ul.list-unstyled.rep-ul
                                    li :strong Репутация продавца - 97%
                                        "(+467/-32)"
                                    li Кол-во покупателей - 46
                                    li Кол-во заказов - 145
                                    li Средний показатель доверия - 7
                                
                            div.col-md-3.col-sm-6.col-xs-12
                                ul.list-unstyled.rep-ul
                                    li: strong Отзывы покупателей
                                    li  Положительные - 
                                        strong 46
                                        span.glyphicon.glyphicon-thumbs-up.like-sp-order(style="color:#16a273;")
                                    li: span.glyphicon.glyphicon-thumbs-up like-sp-order(style="color:#777;") Нейтральные - 145
                                    li: span.glyphicon.glyphicon-thumbs-down.like-sp-order(style="color:#ff0000;) Негативные - 7

                            div.col-md-3.col-sm-6.col-xs-12
                                ul.list-unstyled.rep-ul
                                    li: strong Репутация покупателей - 97%
                                        "(+467/-32)"
                                    li Кол-во покупателей - 46
                                    li Кол-во заказов - 145
                                    li Средний показатель доверия - 7
                                
                            div.col-md-3.col-sm-6.col-xs-12
                                ul.list-unstyled.rep-ul
                                    li: strong Отзывы продавцов
                                    li Положительные - 
                                        strong 46
                                        span.glyphicon.glyphicon-thumbs-up.like-sp-order(style="color:#16a273;")
                                    li Нейтральные - 145
                                        span.glyphicon.glyphicon-thumbs-up.like-sp-order(style="color:#777;")
                                    li Негативные - 7
                                        span.glyphicon.glyphicon-thumbs-down.like-sp-order(style="color:#ff0000;")
                                        
                        div#service-two.tab-pane.fade.tabs-main-ins

                            div.tittle Лайки
// 30 MIN
                            div.col-md-3
                                <ul class="list-unstyled list-rate">
                                    <li>Аудио (56 объектов): 4006</li>
                                    <li>Товары (0):0</li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <ul class="list-unstyled list-rate">
                                    <li>Видео (14):500 </li>
                                    <li>Услуги (0):0 </li>
                                </ul>
                            </div>
                            <div class="col-md-3">

                                <ul class="list-unstyled list-rate">
                                    <li>Изображения (2):60 </li>
                                    <li>Посты (5):10</li>
                                </ul>
                            </div>
                            <div class="col-md-3">

                                <ul class="list-unstyled list-rate">
                                    <li>Тексты (0):0</li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-3">
                                <ul class="list-unstyled list-rate">
                                    <li>Общее кол-во: 4566</li>
                                    <li>Среднее кол-во лайков на объект: 9</li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>

                            <div class="tittle">Контакты</div>

                            <div class="col-md-3">
                                <ul class="list-unstyled list-rate">
                                    <li>Видимые контакты - 45 </li>

                                </ul>
                            </div>
                            <div class="col-md-3">
                                <ul class="list-unstyled list-rate">
                                    <li>Подписчики - 46</li>

                                </ul>
                            </div>
                            <div class="col-md-3">

                                <ul class="list-unstyled list-rate">
                                    <li>Жалобы - 1</li>

                                </ul>
                            </div>
                            <div class="clearfix"></div>
                            <div style="border-bottom:1px solid #0a1450;"></div>
                            <div style="padding: 7px 11px; font-weight: bold;color: #0A1450;">Рейтинг - 527</div>
                        </div>
                        <div class="tab-pane fade tabs-main-ins " id="service-three">

                            <div class="tittle">Лайки</div>

                            <div class="col-md-3">
                                <ul class="list-unstyled list-rate">
                                    <li>Аудио (56 объектов): 4006</li>
                                    <li>Товары (0):0</li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <ul class="list-unstyled list-rate">
                                    <li>Видео (14):500 </li>
                                    <li>Услуги (0):0 </li>
                                </ul>
                            </div>
                            <div class="col-md-3">

                                <ul class="list-unstyled list-rate">
                                    <li>Изображения (2):60 </li>
                                    <li>Посты (5):10</li>
                                </ul>
                            </div>
                            <div class="col-md-3">

                                <ul class="list-unstyled list-rate">
                                    <li>Тексты (0):0</li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-3">
                                <ul class="list-unstyled list-rate">
                                    <li>Общее кол-во: 4566</li>
                                    <li>Среднее кол-во лайков на объект: 9</li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>

                            <div class="tittle">Контакты</div>

                            <div class="col-md-3">
                                <ul class="list-unstyled list-rate">
                                    <li>Подписчики - 46 </li>

                                </ul>
                            </div>
                            <div class="col-md-3">
                                <ul class="list-unstyled list-rate">
                                    <li>Жалобы - 1</li>

                                </ul>
                            </div>
                            <div class="col-md-3">

                                <ul class="list-unstyled list-rate">
                                    <li></li>

                                </ul>
                            </div>
                            <div class="clearfix"></div>
                            <div style="border-bottom:1px solid #0a1450;"></div>
                            <div style="padding: 7px 11px; font-weight: bold;color: #0A1450;">Рейтинг - 527</div>
                        </div>
                    </div>

                    <ul id="myTab" class="nav nav-tabs nav-left nav-main" style="margin-top:20px;">
                        <li class="active"><a href="#service-one-2" data-toggle="tab" class="tabs-main">Продавцы</a>
                        </li>
                        <li class=""><a href="#service-two-2" data-toggle="tab" class="tabs-main">Покупатели</a>
                        </li>
                        <li class=""><a href="#service-three-2" data-toggle="tab" class="tabs-main">Отзывы продавцов</a>
                        </li>
                        <li class=""><a href="#service-four-2" data-toggle="tab" class="tabs-main">Отзывы покупателей</a>
                        </li>
                    </ul>

                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in tabs-main-ins " id="service-one-2">
                            <div class="col-md-12 rat-ing">
                                <div class="col-md-6 col-sm-6 col-xs-12 row">
                                    <div class="col-md-5">
                                        <strong style="padding-right:5px;"><a href="#" style="padding-right:5px;">Asa Akira</a> - 97%</strong> (+467/-32)<a href="#" class="i-rep"><span class="glyphicon glyphicon-envelope"></span></a>
                                    </div>
                                    <div class="col-md-3" style="">
                                        Заказов - 12
                                    </div>
                                    <div class="col-md-4" style="">
                                        Уровень доверия - 5<a href="#" class="i-rep"><span class="glyphicon glyphicon-pencil"></span></a>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12" style="">
                                    Отзывы:
                                    <span class="glyphicon glyphicon-thumbs-up like-sp-order" style="color:#16a273;padding-left:15px;"></span> Положительные - <strong>46</strong>
                                    <span class="glyphicon glyphicon-thumbs-up like-sp-order" style="color:#777;;padding-left:15px;"></span> Нейтральные - 145
                                    <span class="glyphicon glyphicon-thumbs-down like-sp-order" style="color:#ff0000;;padding-left:15px;"></span> Негативные - 7
                                </div>
                            </div>
                            <div class="col-md-12 rat-ing-2">
                                <div class="col-md-6 col-sm-6 col-xs-12 row">
                                    <div class="col-md-5">
                                        <strong style="padding-right:5px;"><a href="#" style="padding-right:5px;">Asa Akira</a> - 97%</strong> (+467/-32)<a href="#" class="i-rep"><span class="glyphicon glyphicon-envelope"></span></a>
                                    </div>
                                    <div class="col-md-3" style="">
                                        Заказов - 12
                                    </div>
                                    <div class="col-md-4" style="">
                                        Уровень доверия - 5<a href="#" class="i-rep"><span class="glyphicon glyphicon-pencil"></span></a>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12" style="">
                                    Отзывы:
                                    <span class="glyphicon glyphicon-thumbs-up like-sp-order" style="color:#16a273;padding-left:15px;"></span> Положительные - <strong>46</strong>
                                    <span class="glyphicon glyphicon-thumbs-up like-sp-order" style="color:#777;;padding-left:15px;"></span> Нейтральные - 145
                                    <span class="glyphicon glyphicon-thumbs-down like-sp-order" style="color:#ff0000;;padding-left:15px;"></span> Негативные - 7
                                </div>
                            </div>
                            <div class="col-md-12 rat-ing">
                                <div class="col-md-6 col-sm-6 col-xs-12 row">
                                    <div class="col-md-5">
                                        <strong style="padding-right:5px;"><a href="#" style="padding-right:5px;">Asa Akira</a> - 97%</strong> (+467/-32)<a href="#" class="i-rep"><span class="glyphicon glyphicon-envelope"></span></a>
                                    </div>
                                    <div class="col-md-3" style="">
                                        Заказов - 12
                                    </div>
                                    <div class="col-md-4" style="">
                                        Уровень доверия - 5<a href="#" class="i-rep"><span class="glyphicon glyphicon-pencil"></span></a>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12" style="">
                                    Отзывы:
                                    <span class="glyphicon glyphicon-thumbs-up like-sp-order" style="color:#16a273;padding-left:15px;"></span> Положительные - <strong>46</strong>
                                    <span class="glyphicon glyphicon-thumbs-up like-sp-order" style="color:#777;;padding-left:15px;"></span> Нейтральные - 145
                                    <span class="glyphicon glyphicon-thumbs-down like-sp-order" style="color:#ff0000;;padding-left:15px;"></span> Негативные - 7
                                </div>
                            </div>
                            <div class="col-md-12 rat-ing-2">
                                <div class="col-md-6 col-sm-6 col-xs-12 row">
                                    <div class="col-md-5">
                                        <strong style="padding-right:5px;"><a href="#" style="padding-right:5px;">Asa Akira</a> - 97%</strong> (+467/-32)<a href="#" class="i-rep"><span class="glyphicon glyphicon-envelope"></span></a>
                                    </div>
                                    <div class="col-md-3" style="">
                                        Заказов - 12
                                    </div>
                                    <div class="col-md-4" style="">
                                        Уровень доверия - 5<a href="#" class="i-rep"><span class="glyphicon glyphicon-pencil"></span></a>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12" style="">
                                    Отзывы:
                                    <span class="glyphicon glyphicon-thumbs-up like-sp-order" style="color:#16a273;padding-left:15px;"></span> Положительные - <strong>46</strong>
                                    <span class="glyphicon glyphicon-thumbs-up like-sp-order" style="color:#777;;padding-left:15px;"></span> Нейтральные - 145
                                    <span class="glyphicon glyphicon-thumbs-down like-sp-order" style="color:#ff0000;;padding-left:15px;"></span> Негативные - 7
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade tabs-main-ins" id="service-two-2">
                            <div class="col-md-12 rat-ing">
                                <div class="col-md-6 col-sm-6 col-xs-12 row">
                                    <div class="col-md-5">
                                        <strong style="padding-right:5px;"><a href="#" style="padding-right:5px;">Asa Akira</a> - 97%</strong> (+467/-32)<a href="#" class="i-rep"><span class="glyphicon glyphicon-envelope"></span></a>
                                    </div>
                                    <div class="col-md-3" style="">
                                        Заказов - 12
                                    </div>
                                    <div class="col-md-4" style="">
                                        Уровень доверия - 5<a href="#" class="i-rep"><span class="glyphicon glyphicon-pencil"></span></a>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12" style="">
                                    Отзывы:
                                    <span class="glyphicon glyphicon-thumbs-up like-sp-order" style="color:#16a273;padding-left:15px;"></span> Положительные - <strong>46</strong>
                                    <span class="glyphicon glyphicon-thumbs-up like-sp-order" style="color:#777;;padding-left:15px;"></span> Нейтральные - 145
                                    <span class="glyphicon glyphicon-thumbs-down like-sp-order" style="color:#ff0000;;padding-left:15px;"></span> Негативные - 7
                                </div>
                            </div>
                            <div class="col-md-12 rat-ing-2">
                                <div class="col-md-6 col-sm-6 col-xs-12 row">
                                    <div class="col-md-5">
                                        <strong style="padding-right:5px;"><a href="#" style="padding-right:5px;">Asa Akira</a> - 97%</strong> (+467/-32)<a href="#" class="i-rep"><span class="glyphicon glyphicon-envelope"></span></a>
                                    </div>
                                    <div class="col-md-3" style="">
                                        Заказов - 12
                                    </div>
                                    <div class="col-md-4" style="">
                                        Уровень доверия - 5<a href="#" class="i-rep"><span class="glyphicon glyphicon-pencil"></span></a>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12" style="">
                                    Отзывы:
                                    <span class="glyphicon glyphicon-thumbs-up like-sp-order" style="color:#16a273;padding-left:15px;"></span> Положительные - <strong>46</strong>
                                    <span class="glyphicon glyphicon-thumbs-up like-sp-order" style="color:#777;;padding-left:15px;"></span> Нейтральные - 145
                                    <span class="glyphicon glyphicon-thumbs-down like-sp-order" style="color:#ff0000;;padding-left:15px;"></span> Негативные - 7
                                </div>
                            </div>
                            <div class="col-md-12 rat-ing">
                                <div class="col-md-6 col-sm-6 col-xs-12 row">
                                    <div class="col-md-5">
                                        <strong style="padding-right:5px;"><a href="#" style="padding-right:5px;">Asa Akira</a> - 97%</strong> (+467/-32)<a href="#" class="i-rep"><span class="glyphicon glyphicon-envelope"></span></a>
                                    </div>
                                    <div class="col-md-3" style="">
                                        Заказов - 12
                                    </div>
                                    <div class="col-md-4" style="">
                                        Уровень доверия - 5<a href="#" class="i-rep"><span class="glyphicon glyphicon-pencil"></span></a>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12" style="">
                                    Отзывы:
                                    <span class="glyphicon glyphicon-thumbs-up like-sp-order" style="color:#16a273;padding-left:15px;"></span> Положительные - <strong>46</strong>
                                    <span class="glyphicon glyphicon-thumbs-up like-sp-order" style="color:#777;;padding-left:15px;"></span> Нейтральные - 145
                                    <span class="glyphicon glyphicon-thumbs-down like-sp-order" style="color:#ff0000;;padding-left:15px;"></span> Негативные - 7
                                </div>
                            </div>
                            <div class="col-md-12 rat-ing-2">
                                <div class="col-md-6 col-sm-6 col-xs-12 row">
                                    <div class="col-md-5">
                                        <strong style="padding-right:5px;"><a href="#" style="padding-right:5px;">Asa Akira</a> - 97%</strong> (+467/-32)<a href="#" class="i-rep"><span class="glyphicon glyphicon-envelope"></span></a>
                                    </div>
                                    <div class="col-md-3" style="">
                                        Заказов - 12
                                    </div>
                                    <div class="col-md-4" style="">
                                        Уровень доверия - 5<a href="#" class="i-rep"><span class="glyphicon glyphicon-pencil"></span></a>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12" style="">
                                    Отзывы:
                                    <span class="glyphicon glyphicon-thumbs-up like-sp-order" style="color:#16a273;padding-left:15px;"></span> Положительные - <strong>46</strong>
                                    <span class="glyphicon glyphicon-thumbs-up like-sp-order" style="color:#777;;padding-left:15px;"></span> Нейтральные - 145
                                    <span class="glyphicon glyphicon-thumbs-down like-sp-order" style="color:#ff0000;;padding-left:15px;"></span> Негативные - 7
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade tabs-main-ins " id="service-three-2">
                            <div class="rew">
                                <div class="rew-header">
                                    <span class="glyphicon glyphicon-thumbs-up like-sp-order" style="color:#009966;"></span>
                                    <span style="color:#009966;">Валентина Ивановна</span> - 88% <span style="font-style:italic;padding-left:10px;"> Ноутбук Lenovo </span><span class="pull-right" style="font-size:12px;">12 Марта 2015</span>
                                </div>
                                <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
                                <p><strong>Плюсы:</strong> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

                                <p><strong>Минусы:</strong> Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>

                                <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>


                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-12">
                                <div class="row">
                                    <button type="button" class="btn-rew pull-right" data-toggle="collapse" data-target="#demo">
                                        Показать I Скрыть комментарии
                                    </button>
                                </div>
                            </div>
                            <div id="demo" class="collapse ">
                                <div class="clearfix"></div>
                                <div class="rew col-md-11 pull-right" style="background:#fff;">
                                    <div class="rew-header">

                                        Валентина Ивановна - 88% <span style="font-style:italic;padding-left:10px;"> Ноутбук Lenovo </span><span class="pull-right" style="font-size:12px;">12 Марта 2015</span>
                                    </div>
                                    <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>


                                </div>
                                <div class="clearfix"></div>

                                <div class="rew col-md-10 pull-right">
                                    <div class="rew-header">
                                        <span class="glyphicon glyphicon-thumbs-up like-sp-order" style="color:#009966;"></span>
                                        <span style="color:#009966;">Валентина Ивановна</span> - 88% <span style="font-style:italic;padding-left:10px;"> Ноутбук Lenovo </span><span class="pull-right" style="font-size:12px;">12 Марта 2015</span>
                                    </div>
                                    <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>


                                </div>
                                <div class="clearfix"></div>
                                <div class="rew col-md-9 pull-right" style="background:#fff;">
                                    <div class="rew-header">
                                        Валентина Ивановна - 88% <span style="font-style:italic;padding-left:10px;"> Ноутбук Lenovo </span><span class="pull-right" style="font-size:12px;">12 Марта 2015</span>
                                    </div>
                                    <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>


                                </div>
                                <div class="clearfix"></div>
                                <div class="rew col-md-10 pull-right">
                                    <div class="rew-header">
                                        <span class="glyphicon glyphicon-thumbs-up like-sp-order" style="color:#009966;"></span>
                                        <span style="color:#009966;">Валентина Ивановна</span> - 88% <span style="font-style:italic;padding-left:10px;"> Ноутбук Lenovo </span><span class="pull-right" style="font-size:12px;">12 Марта 2015</span>
                                    </div>
                                    <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>


                                </div>
                                <div class="clearfix"></div>
                                <div class="rew col-md-11 pull-right" style="background:#fff;">
                                    <div class="rew-header">

                                        Валентина Ивановна - 88% <span style="font-style:italic;padding-left:10px;"> Ноутбук Lenovo </span><span class="pull-right" style="font-size:12px;">12 Марта 2015</span>
                                    </div>
                                    <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>


                                </div>

                            </div>
                            <div class="clearfix"></div>
                            <div class="rew">
                                <div class="rew-header">
                                    <span class="glyphicon glyphicon-thumbs-down like-sp-order" style="color:#cc0000;"></span>
                                    <span style="color:#cc0000;">Валентина Ивановна</span> - 88% <span style="font-style:italic;padding-left:10px;"> Ноутбук Lenovo </span><span class="pull-right" style="font-size:12px;">12 Марта 2015</span>
                                </div>
                                <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
                                <p><strong>Плюсы:</strong> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

                                <p><strong>Минусы:</strong> Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>

                                <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>


                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-12">
                                <div class="row">
                                    <button type="button" class="btn-rew pull-right" data-toggle="collapse" data-target="#demo2">
                                        Показать I Скрыть комментарии
                                    </button>
                                </div>
                            </div>
                            <div id="demo2" class="collapse ">
                                <div class="clearfix"></div>
                                <div class="rew col-md-11 pull-right" style="background:#fff;">
                                    <div class="rew-header">

                                        Валентина Ивановна - 88% <span style="font-style:italic;padding-left:10px;"> Ноутбук Lenovo </span><span class="pull-right" style="font-size:12px;">12 Марта 2015</span>
                                    </div>
                                    <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>


                                </div>
                                <div class="clearfix"></div>

                                <div class="rew col-md-10 pull-right">
                                    <div class="rew-header">
                                        <span class="glyphicon glyphicon-thumbs-up like-sp-order" style="color:#009966;"></span>
                                        <span style="color:#009966;">Валентина Ивановна</span> - 88% <span style="font-style:italic;padding-left:10px;"> Ноутбук Lenovo </span><span class="pull-right" style="font-size:12px;">12 Марта 2015</span>
                                    </div>
                                    <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>


                                </div>
                                <div class="clearfix"></div>
                                <div class="rew col-md-9 pull-right" style="background:#fff;">
                                    <div class="rew-header">
                                        Валентина Ивановна - 88% <span style="font-style:italic;padding-left:10px;"> Ноутбук Lenovo </span><span class="pull-right" style="font-size:12px;">12 Марта 2015</span>
                                    </div>
                                    <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>


                                </div>
                                <div class="clearfix"></div>
                                <div class="rew col-md-10 pull-right">
                                    <div class="rew-header">
                                        <span class="glyphicon glyphicon-thumbs-up like-sp-order" style="color:#009966;"></span>
                                        <span style="color:#009966;">Валентина Ивановна</span> - 88% <span style="font-style:italic;padding-left:10px;"> Ноутбук Lenovo </span><span class="pull-right" style="font-size:12px;">12 Марта 2015</span>
                                    </div>
                                    <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>


                                </div>
                                <div class="clearfix"></div>
                                <div class="rew col-md-11 pull-right" style="background:#fff;">
                                    <div class="rew-header">

                                        Валентина Ивановна - 88% <span style="font-style:italic;padding-left:10px;"> Ноутбук Lenovo </span><span class="pull-right" style="font-size:12px;">12 Марта 2015</span>
                                    </div>
                                    <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>


                                </div>

                            </div>
                            <div class="clearfix"></div>
                            <div class="rew">
                                <div class="rew-header">
                                    <span class="glyphicon glyphicon-thumbs-up like-sp-order" style="color:#777;"></span>
                                    <span style="color:#777;">Валентина Ивановна</span> - 88% <span style="font-style:italic;padding-left:10px;"> Ноутбук Lenovo </span><span class="pull-right" style="font-size:12px;">12 Марта 2015</span>
                                </div>
                                <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
                                <p><strong>Плюсы:</strong> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

                                <p><strong>Минусы:</strong> Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>

                                <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>


                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-12">
                                <div class="row">
                                    <button type="button" class="btn-rew pull-right" data-toggle="collapse" data-target="#demo3">
                                        Показать I Скрыть комментарии
                                    </button>
                                </div>
                            </div>
                            <div id="demo3" class="collapse ">
                                <div class="clearfix"></div>
                                <div class="rew col-md-11 pull-right" style="background:#fff;">
                                    <div class="rew-header">

                                        Валентина Ивановна - 88% <span style="font-style:italic;padding-left:10px;"> Ноутбук Lenovo </span><span class="pull-right" style="font-size:12px;">12 Марта 2015</span>
                                    </div>
                                    <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>


                                </div>
                                <div class="clearfix"></div>

                                <div class="rew col-md-10 pull-right">
                                    <div class="rew-header">
                                        <span class="glyphicon glyphicon-thumbs-up like-sp-order" style="color:#009966;"></span>
                                        <span style="color:#009966;">Валентина Ивановна</span> - 88% <span style="font-style:italic;padding-left:10px;"> Ноутбук Lenovo </span><span class="pull-right" style="font-size:12px;">12 Марта 2015</span>
                                    </div>
                                    <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>


                                </div>
                                <div class="clearfix"></div>
                                <div class="rew col-md-9 pull-right" style="background:#fff;">
                                    <div class="rew-header">
                                        Валентина Ивановна - 88% <span style="font-style:italic;padding-left:10px;"> Ноутбук Lenovo </span><span class="pull-right" style="font-size:12px;">12 Марта 2015</span>
                                    </div>
                                    <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>


                                </div>
                                <div class="clearfix"></div>
                                <div class="rew col-md-10 pull-right">
                                    <div class="rew-header">
                                        <span class="glyphicon glyphicon-thumbs-up like-sp-order" style="color:#009966;"></span>
                                        <span style="color:#009966;">Валентина Ивановна</span> - 88% <span style="font-style:italic;padding-left:10px;"> Ноутбук Lenovo </span><span class="pull-right" style="font-size:12px;">12 Марта 2015</span>
                                    </div>
                                    <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>


                                </div>
                                <div class="clearfix"></div>
                                <div class="rew col-md-11 pull-right" style="background:#fff;">
                                    <div class="rew-header">

                                        Валентина Ивановна - 88% <span style="font-style:italic;padding-left:10px;"> Ноутбук Lenovo </span><span class="pull-right" style="font-size:12px;">12 Марта 2015</span>
                                    </div>
                                    <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>


                                </div>

                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="tab-pane fade tabs-main-ins " id="service-four-2">
                            <div class="rew">
                                <div class="rew-header">
                                    <span class="glyphicon glyphicon-thumbs-up like-sp-order" style="color:#009966;"></span>
                                    <span style="color:#009966;">Валентина Ивановна</span> - 88% <span style="font-style:italic;padding-left:10px;"> Ноутбук Lenovo </span><span class="pull-right" style="font-size:12px;">12 Марта 2015</span>
                                </div>
                                <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
                                <p><strong>Плюсы:</strong> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

                                <p><strong>Минусы:</strong> Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>

                                <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>


                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-12">
                                <div class="row">
                                    <button type="button" class="btn-rew pull-right" data-toggle="collapse" data-target="#demo1">
                                        Показать I Скрыть комментарии
                                    </button>
                                </div>
                            </div>
                            <div id="demo1" class="collapse ">
                                <div class="clearfix"></div>
                                <div class="rew col-md-11 pull-right" style="background:#fff;">
                                    <div class="rew-header">

                                        Валентина Ивановна - 88% <span style="font-style:italic;padding-left:10px;"> Ноутбук Lenovo </span><span class="pull-right" style="font-size:12px;">12 Марта 2015</span>
                                    </div>
                                    <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>


                                </div>
                                <div class="clearfix"></div>

                                <div class="rew col-md-10 pull-right">
                                    <div class="rew-header">
                                        <span class="glyphicon glyphicon-thumbs-up like-sp-order" style="color:#009966;"></span>
                                        <span style="color:#009966;">Валентина Ивановна</span> - 88% <span style="font-style:italic;padding-left:10px;"> Ноутбук Lenovo </span><span class="pull-right" style="font-size:12px;">12 Марта 2015</span>
                                    </div>
                                    <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>


                                </div>
                                <div class="clearfix"></div>
                                <div class="rew col-md-9 pull-right" style="background:#fff;">
                                    <div class="rew-header">
                                        Валентина Ивановна - 88% <span style="font-style:italic;padding-left:10px;"> Ноутбук Lenovo </span><span class="pull-right" style="font-size:12px;">12 Марта 2015</span>
                                    </div>
                                    <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>


                                </div>
                                <div class="clearfix"></div>
                                <div class="rew col-md-10 pull-right">
                                    <div class="rew-header">
                                        <span class="glyphicon glyphicon-thumbs-up like-sp-order" style="color:#009966;"></span>
                                        <span style="color:#009966;">Валентина Ивановна</span> - 88% <span style="font-style:italic;padding-left:10px;"> Ноутбук Lenovo </span><span class="pull-right" style="font-size:12px;">12 Марта 2015</span>
                                    </div>
                                    <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>


                                </div>
                                <div class="clearfix"></div>
                                <div class="rew col-md-11 pull-right" style="background:#fff;">
                                    <div class="rew-header">

                                        Валентина Ивановна - 88% <span style="font-style:italic;padding-left:10px;"> Ноутбук Lenovo </span><span class="pull-right" style="font-size:12px;">12 Марта 2015</span>
                                    </div>
                                    <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>


                                </div>

                            </div>
                            <div class="clearfix"></div>
                            <div class="rew">
                                <div class="rew-header">
                                    <span class="glyphicon glyphicon-thumbs-down like-sp-order" style="color:#cc0000;"></span>
                                    <span style="color:#cc0000;">Валентина Ивановна</span> - 88% <span style="font-style:italic;padding-left:10px;"> Ноутбук Lenovo </span><span class="pull-right" style="font-size:12px;">12 Марта 2015</span>
                                </div>
                                <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
                                <p><strong>Плюсы:</strong> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

                                <p><strong>Минусы:</strong> Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>

                                <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>


                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-12">
                                <div class="row">
                                    <button type="button" class="btn-rew pull-right" data-toggle="collapse" data-target="#demo21">
                                        Показать I Скрыть комментарии
                                    </button>
                                </div>
                            </div>
                            <div id="demo21" class="collapse ">
                                <div class="clearfix"></div>
                                <div class="rew col-md-11 pull-right" style="background:#fff;">
                                    <div class="rew-header">

                                        Валентина Ивановна - 88% <span style="font-style:italic;padding-left:10px;"> Ноутбук Lenovo </span><span class="pull-right" style="font-size:12px;">12 Марта 2015</span>
                                    </div>
                                    <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>


                                </div>
                                <div class="clearfix"></div>

                                <div class="rew col-md-10 pull-right">
                                    <div class="rew-header">
                                        <span class="glyphicon glyphicon-thumbs-up like-sp-order" style="color:#009966;"></span>
                                        <span style="color:#009966;">Валентина Ивановна</span> - 88% <span style="font-style:italic;padding-left:10px;"> Ноутбук Lenovo </span><span class="pull-right" style="font-size:12px;">12 Марта 2015</span>
                                    </div>
                                    <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>


                                </div>
                                <div class="clearfix"></div>
                                <div class="rew col-md-9 pull-right" style="background:#fff;">
                                    <div class="rew-header">
                                        Валентина Ивановна - 88% <span style="font-style:italic;padding-left:10px;"> Ноутбук Lenovo </span><span class="pull-right" style="font-size:12px;">12 Марта 2015</span>
                                    </div>
                                    <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>


                                </div>
                                <div class="clearfix"></div>
                                <div class="rew col-md-10 pull-right">
                                    <div class="rew-header">
                                        <span class="glyphicon glyphicon-thumbs-up like-sp-order" style="color:#009966;"></span>
                                        <span style="color:#009966;">Валентина Ивановна</span> - 88% <span style="font-style:italic;padding-left:10px;"> Ноутбук Lenovo </span><span class="pull-right" style="font-size:12px;">12 Марта 2015</span>
                                    </div>
                                    <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>


                                </div>
                                <div class="clearfix"></div>
                                <div class="rew col-md-11 pull-right" style="background:#fff;">
                                    <div class="rew-header">

                                        Валентина Ивановна - 88% <span style="font-style:italic;padding-left:10px;"> Ноутбук Lenovo </span><span class="pull-right" style="font-size:12px;">12 Марта 2015</span>
                                    </div>
                                    <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>


                                </div>

                            </div>
                            <div class="clearfix"></div>
                            <div class="rew">
                                <div class="rew-header">
                                    <span class="glyphicon glyphicon-thumbs-up like-sp-order" style="color:#777;"></span>
                                    <span style="color:#777;">Валентина Ивановна</span> - 88% <span style="font-style:italic;padding-left:10px;"> Ноутбук Lenovo </span><span class="pull-right" style="font-size:12px;">12 Марта 2015</span>
                                </div>
                                <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
                                <p><strong>Плюсы:</strong> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

                                <p><strong>Минусы:</strong> Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>

                                <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>


                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-12">
                                <div class="row">
                                    <button type="button" class="btn-rew pull-right" data-toggle="collapse" data-target="#demo31">
                                        Показать I Скрыть комментарии
                                    </button>
                                </div>
                            </div>
                            <div id="demo31" class="collapse ">
                                <div class="clearfix"></div>
                                <div class="rew col-md-11 pull-right" style="background:#fff;">
                                    <div class="rew-header">

                                        Валентина Ивановна - 88% <span style="font-style:italic;padding-left:10px;"> Ноутбук Lenovo </span><span class="pull-right" style="font-size:12px;">12 Марта 2015</span>
                                    </div>
                                    <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>


                                </div>
                                <div class="clearfix"></div>

                                <div class="rew col-md-10 pull-right">
                                    <div class="rew-header">
                                        <span class="glyphicon glyphicon-thumbs-up like-sp-order" style="color:#009966;"></span>
                                        <span style="color:#009966;">Валентина Ивановна</span> - 88% <span style="font-style:italic;padding-left:10px;"> Ноутбук Lenovo </span><span class="pull-right" style="font-size:12px;">12 Марта 2015</span>
                                    </div>
                                    <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>


                                </div>
                                <div class="clearfix"></div>
                                <div class="rew col-md-9 pull-right" style="background:#fff;">
                                    <div class="rew-header">
                                        Валентина Ивановна - 88% <span style="font-style:italic;padding-left:10px;"> Ноутбук Lenovo </span><span class="pull-right" style="font-size:12px;">12 Марта 2015</span>
                                    </div>
                                    <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>


                                </div>
                                <div class="clearfix"></div>
                                <div class="rew col-md-10 pull-right">
                                    <div class="rew-header">
                                        <span class="glyphicon glyphicon-thumbs-up like-sp-order" style="color:#009966;"></span>
                                        <span style="color:#009966;">Валентина Ивановна</span> - 88% <span style="font-style:italic;padding-left:10px;"> Ноутбук Lenovo </span><span class="pull-right" style="font-size:12px;">12 Марта 2015</span>
                                    </div>
                                    <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>


                                </div>
                                <div class="clearfix"></div>
                                <div class="rew col-md-11 pull-right" style="background:#fff;">
                                    <div class="rew-header">

                                        Валентина Ивановна - 88% <span style="font-style:italic;padding-left:10px;"> Ноутбук Lenovo </span><span class="pull-right" style="font-size:12px;">12 Марта 2015</span>
                                    </div>
                                    <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>


                                </div>

                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    </div>
    <div class="clearfix"></div>
    <footer>
        <div class="container">
            <div class="row" style="text-align:center;">
                <hr>
                <div class="footer-link">© 2015 <a href="http://whitecrow.com.ua/"> «White Crow»</a></div>
            </div>
        </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.hoverdir.js"></script>
    <script type="text/javascript">
        $(function() {

            $(' #da-thumbs > li ').each(function() {
                $(this).hoverdir();
            });

        });
    </script>
</body>

</html>