extends ../../layouts/arn

block head
	title Регистрация

block feet
	script(src='/views/signup/index.min.js?#{cacheBreaker}')

block content
	div.container
		div.clearfix.visible-xs.visible-sm
		div.col-md-12
			div.tittle-dark Регистрация
			
			div.clearfix
	
			div.col-md-12
				div#signup

	script(type='text/template', id='tmpl-signup')
		form(role="form", name="reg_form")
			div.form-group.col-md-6(class!='<%- errfor.firstname ? "has-error" : "" %>')
				label: span.input-text Имя
				input.form-control.input-sm(type="text", name="firstname", value!='<%= firstname %>')
				|<% if (errfor.firstname) { %>
				span.input-text-error <%= errfor.firstname %>
				|<% } %>

			div.form-group.col-md-6(class!='<%- errfor.lastname ? "has-error" : "" %>')
				label: span.input-text Фамилия
				input.form-control.input-sm(type="text", name="lastname", value!='<%= lastname %>')
				|<% if (errfor.lastname) { %>
				span.input-text-error <%= errfor.lastname %>
				|<% } %>
				
			div.form-group.col-md-6(class!='<%- errfor.username ? "has-error" : "" %>')
				label: span.input-text Email
				input.form-control.input-sm(type="text", name="username", value!='<%= username %>')
				|<% if (errfor.username) { %>
				span.input-text-error <%= errfor.username %>
				|<% } %>

			div.form-group.col-md-6(class!='<%- errfor.password ? "has-error" : "" %>')
				label: span.input-text Пароль
				input.form-control.input-sm(type="password", name="password", value!='<%= password %>')
				|<% if (errfor.password) { %>
				span.input-text-error <%= errfor.password %>
				|<% } %>

			div.form-group.col-md-12
				button.btn.btn-default.btn-signup(type="button") Регистрация