extends ../../layouts/arn

block head
  title Вход

block feet
  script(src='/views/login/index.min.js?#{cacheBreaker}')

block content
  div.container
    div.clearfix.visible-xs.visible-sm
      
    div.col-md-12
      div.tittle-dark Вход
      div.clearfix
      div.col-md-12
        div#login
        
        
    script(type='text/template', id='tmpl-login')
      form
        div.form-group.col-md-12
          div.alerts
            |<% _.each(errors, function(err) { %>
            div.alert.alert-danger.alert-dismissable
              button.close(type='button', data-dismiss='alert') &times;
              |<%- err %>
            |<% }); %>
          
          div.form-group.col-md-6(class!='<%- errfor.username ? "has-error" : "" %>')
            label: span.input-text= __("Email")
            input.form-control.input-sm(type="email", name='username', value!='<%= username %>')
            span.input-text-error <%- errfor.username %>
            
          div.form-group.col-md-6(class!='<%- errfor.password ? "has-error" : "" %>')
            label: span.input-text= __("Password")
            input.form-control.input-sm(type='password', name='password', value!='<%= password %>')
            span.input-text-error <%- errfor.password %>
            
          div.col-md-12
            button.btn.btn-default.btn-login(type='button')= __("Login")
            |&nbsp;&nbsp;&nbsp;
            a.btn.btn-link(href='/login/forgot/') Забыли пароль?