extends ../../../layouts/arn

block head
  title= __("Settings")

block feet
  script(src='https://code.jquery.com/ui/1.11.3/jquery-ui.min.js')
  script(src='/views/account/settings/index.min.js?#{cacheBreaker}')

block content
  div.col-md-10
   div.tittle-dark= __("Settings")
   
   div.clearfix
  
   div.col-md-12
    div.row
     ul#myTab.nav.nav-tabs.nav-left.nav-main
      li.active: a.tabs-main(href="#main", data-toggle="tab")= __("Main")
      li: a.tabs-main(href="#privacy", data-toggle="tab")= __("Privacy")

     div#myTabContent.tab-content
      div#main.tab-pane.fade.active.in.tabs-main-ins.row
  
      div#privacy.tab-pane.fade.tabs-main-ins.row
          
  script(type='text/template', id='tmpl-main')
    div.col-md-6
     div.tittle= __("Account settings")

     div.row
      div.col-md-6.bt-n-2
       div.form-group(class!='<%- errfor.language ? "has-error" : "" %>')
        label.input-text= __("Interface language")
        div.btn-group.btn-g
         button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g(type="button", data-toggle="dropdown", name="language", value!="<%- language %>")
          span.text= __("Select interface language")
          span.caret

         ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
          for language in enumerations.SystemLanguages.enums
           li: a.choice-system-language(href="#", data-value="#{language.key}")= __(language.key)
          
        div.clearfix

       div.form-group
        label.input-text= __("Change password")
        br
        label.input-text= __("Current password")
        input.form-control.input-sm.bt-n(type="text", name="password", value="")
        label.input-text= __("New password")
        input.form-control.input-sm.bt-n(type="text", name="newPassword0", value="")
        label.input-text= __("Repeat password")
        input.form-control.input-sm.bt-n(type="text", name="newPassword1", value="")
        
        button.btn.btn-default.btn-sm.col-md-12.pull-left.btn-change-password(type="submit")= __("Change password")
        
        div.clearfix

       div.form-group(class!='<%- errfor.address ? "has-error" : "" %>')
        label.input-text= __("My address")
        br
        label.input-text
         <% if (address) { %>
         a(href!="/<%- address %>") artnetсity.com/<%- address %>
         <% } else { %>
         a(href!="/<%- num %>") artnetсity.com/<%- num %>
         <% } %>
        label.input-text= __("Change my address")
        input.form-control.input-sm.bt-n(type="text", name="address", value!="<%- address %>")
        
        button.btn.btn-default.btn-sm.col-md-12.pull-left.btn-change-address(type="submit")= __("Change my address")

        div.clearfix

      div.col-md-6.bt-n-2

       div.form-group
        label.input-text= __("Main e-mail")
        br
        label.input-text <% emailShort %>
        label.input-text= __("Change e-mail")
        input.form-control.input-sm.bt-n(type="text", name="email", value!="")
        
        button.btn.btn-default.btn-sm.col-md-12.pull-left.btn-change-email(type="submit")= __("Change e-mail")
        
        div.clearfix

       div.form-group
        label.input-text= __("Main phone")
        br
        label.input-text <% phoneShort %>
        br
        label.input-text= __("Change phone")
        input.form-control.input-sm.bt-n(type="text", name="phone", value!="")
        
        button.btn.btn-default.btn-sm.col-md-12.pull-left.btn-change-phone(type="submit")= __("Change phone")

        div.clearfix

       a.img-links(href="#")= __("News settings and alerts settings")
       br
       a.img-links(href="#")= __("Settings profession")

    div.col-md-6
     div.tittle= __("Page view")
     div.col-md-6.bt-n-2
      label.input-text= __("Right blocks")
      div.form-group
       ul.nav.nav-pills.nav-stacked
        li(name="contacts"): a(href="#"): b= __("Contacts")
        
       ul.nav.nav-pills.nav-stacked.rightBlocks
        li(name="contacts", data-sort!="<%- pageView.rightBlocks.indexOf('contacts') %>", style="display: none;"): a(href="#")= __("Contacts")
        li(name="images", data-sort!="<%- pageView.rightBlocks.indexOf('images') %>"): a(href="#")= __("Images")
        li(name="audio", data-sort!="<%- pageView.rightBlocks.indexOf('audio') %>"): a(href="#")= __("Audio")
        li(name="video", data-sort!="<%- pageView.rightBlocks.indexOf('video') %>"): a(href="#")= __("Video")
        li(name="articles", data-sort!="<%- pageView.rightBlocks.indexOf('articles') %>"): a(href="#")= __("Articles")

     div.col-md-6.bt-n-2
      div.form-group
       label.input-text= __("Left menu. Links")
       div.checkbox(style="margin-bottom: 20px;")
        label
         <% if (pageView.leftMenu.edit) { %>
         input.checkbox-left-menu(type="checkbox", name="edit", checked="")
         <% } else { %>
         input.checkbox-left-menu(type="checkbox", name="edit")
         <% } %>
         span= __("Edit")
        br
        //label
        // <% if (pageView.leftMenu.settings) { %>
        // input.checkbox-left-menu(type="checkbox", name="settings", checked="")
        // <% } else { %>
        // input.checkbox-left-menu(type="checkbox", name="settings")
        // <% } %>
        // span= __("Settings")
       div.checkbox(style="margin-bottom: 20px;")
        label
         <% if (pageView.leftMenu.professions) { %>
         input.checkbox-left-menu(type="checkbox", name="professions", checked="")
         <% } else { %>
         input.checkbox-left-menu(type="checkbox", name="professions")
         <% } %>
         span= __("Professions")
        br
        label
         <% if (pageView.leftMenu.contacts) { %>
         input.checkbox-left-menu(type="checkbox", name="contacts", checked="")
         <% } else { %>
         input.checkbox-left-menu(type="checkbox", name="contacts")
         <% } %>
         span= __("Contacts")
        br
        label
         <% if (pageView.leftMenu.news) { %>
         input.checkbox-left-menu(type="checkbox", name="news", checked="")
         <% } else { %>
         input.checkbox-left-menu(type="checkbox", name="news")
         <% } %>
         span= __("News")
        br
        label
         <% if (pageView.leftMenu.messages) { %>
         input.checkbox-left-menu(type="checkbox", name="messages", checked="")
         <% } else { %>
         input.checkbox-left-menu(type="checkbox", name="messages")
         <% } %>
         span= __("Messages")
        br
       div.checkbox(style="margin-bottom: 20px;")
        label
         <% if (pageView.leftMenu.images) { %>
         input.checkbox-left-menu(type="checkbox", name="images", checked="")
         <% } else { %>
         input.checkbox-left-menu(type="checkbox", name="images")
         <% } %>
         span= __("Images")
        br
        label
         <% if (pageView.leftMenu.articles) { %>
         input.checkbox-left-menu(type="checkbox", name="articles", checked="")
         <% } else { %>
         input.checkbox-left-menu(type="checkbox", name="articles")
         <% } %>
         span= __("Articles")
        br
        label
         <% if (pageView.leftMenu.video) { %>
         input.checkbox-left-menu(type="checkbox", name="video", checked="")
         <% } else { %>
         input.checkbox-left-menu(type="checkbox", name="video")
         <% } %>
         span= __("Video")
        br
        label
         <% if (pageView.leftMenu.audio) { %>
         input.checkbox-left-menu(type="checkbox", name="audio", checked="")
         <% } else { %>
         input.checkbox-left-menu(type="checkbox", name="audio")
         <% } %>
         span= __("Audio")
        br
       div.checkbox(style="margin-bottom: 20px;")
        label
         <% if (pageView.leftMenu.goods) { %>
         input.checkbox-left-menu(type="checkbox", name="goods", checked="")
         <% } else { %>
         input.checkbox-left-menu(type="checkbox", name="goods")
         <% } %>
         span= __("Goods")
        br
        label
         <% if (pageView.leftMenu.services) { %>
         input.checkbox-left-menu(type="checkbox", name="services", checked="")
         <% } else { %>
         input.checkbox-left-menu(type="checkbox", name="services")
         <% } %>
         span= __("Services")
        br
        label
         <% if (pageView.leftMenu.orders) { %>
         input.checkbox-left-menu(type="checkbox", name="orders", checked="")
         <% } else { %>
         input.checkbox-left-menu(type="checkbox", name="orders")
         <% } %>
         span= __("Orders")
        br
       div.checkbox(style="margin-bottom: 20px;")
        label
         <% if (pageView.leftMenu.rating) { %>
         input.checkbox-left-menu(type="checkbox", name="rating", checked="")
         <% } else { %>
         input.checkbox-left-menu(type="checkbox", name="rating")
         <% } %>
         span= __("Rating and reputation")
        br
       div.clearfix

    div.clearfix
    
    div.col-md-6.bt-n-2
     div.tittle Торговля

     div.checkbox
      label
       <% if (trade.stopGoods) { %>
       input.checkbox-trade(type="checkbox", name="stopGoods", checked="")
       <% } else { %>
       input.checkbox-trade(type="checkbox", name="stopGoods")
       <% } %>
       span= __("Suspend trading (make all the goods invisible to others and do not take orders)")

     div.checkbox
      label
       <% if (trade.stopServices) { %>
       input.checkbox-trade(type="checkbox", name="stopServices", checked="")
       <% } else { %>
       input.checkbox-trade(type="checkbox", name="stopServices")
       <% } %>
       span= __("Suspend the supply of services (all services to make invisible to others and do not take orders)")

     div.checkbox
      label
       <% if (trade.hideNameForComment) { %>
       input.checkbox-trade(type="checkbox", name="hideNameForComment", checked="")
       <% } else { %>
       input.checkbox-trade(type="checkbox", name="hideNameForComment")
       <% } %>
       span= __("Hide name in a review to orders")

     div.checkbox
      label
       <% if (trade.hideGoodsForComments) { %>
       input.checkbox-trade(type="checkbox", name="hideGoodsForComments", checked="")
       <% } else { %>
       input.checkbox-trade(type="checkbox", name="hideGoodsForComments")
       <% } %>
       span= __("Hide bought goods in a review")

     a.img-links(href="#")= __("Change the terms of payment and delivery of goods")
     br
     a.img-links(href="#")= __("Change the payment and delivery of services provided")

    div.col-md-6
     div.tittle= __("Black list")

     div.col-md-6
      ul.list-unstyled.sett-b-ul
       li
        a(href="#") Кристиночка Риконтовская
        a.change-blacklist(href="#"): span.glyphicon.glyphicon-trash
       li
        a(href="#") Аса Акира
        a.change-blacklist(href="#"): span.glyphicon.glyphicon-trash
       li
        a(href="#") Яйцеслав Буйный
        a.change-blacklist(href="#"): span.glyphicon.glyphicon-trash

     div.col-md-6
      ul.list-unstyled.sett-b-ul
       li
        a(href="#") Кристиночка Риконтовская
        a.change-blacklist(href="#"): span.glyphicon.glyphicon-trash
       li
        a(href="#") Аса Акира
        a.change-blacklist(href="#"): span.glyphicon.glyphicon-trash
       li
        a(href="#") Яйцеслав Буйный
        a.change-blacklist(href="#"): span.glyphicon.glyphicon-trash

    div.clearfix
    
    div.col-md-12.col-xs-12
     hr
     button.btn.btn-default.btn-sm.col-md-2.col-xs-12.pull-left(type="submit")= __("Save changes")

  script(type='text/template', id='tmpl-privacy')
    div.col-md-12.col-xs-12
     div.row
      div.col-md-3
       div.form-group
        label.input-text= __("Show main information")
        div.btn-group.btn-g
         button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g.privacy(type="button", data-toggle="dropdown", name="showMainInformation", value!="<%- privacy.showMainInformation %>")
          span.text ---
          span.caret

         ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
          for p in enumerations.Privacy.enums
           li: a(href="#", data-value="#{p.key}")= __(p.key)
        div.clearfix
        
       div.form-group
        label.input-text= __("Show media line")
        div.btn-group.btn-g
         button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g.privacy(type="button", data-toggle="dropdown", name="showMediaLine", value!="<%- privacy.showMediaLine %>")
          span.text ---
          span.caret

         ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
          for p in enumerations.Privacy.enums
           li: a(href="#", data-value="#{p.key}")= __(p.key)
        div.clearfix

       div.form-group
        label.input-text= __("Allow private messages")
        div.btn-group.btn-g
         button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g.privacy(type="button", data-toggle="dropdown", name="allowMessages", value!="<%- privacy.allowMessages %>")
          span.text ---
          span.caret

         ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
          for p in enumerations.Privacy.enums
           li: a(href="#", data-value="#{p.key}")= __(p.key)
        div.clearfix

       div.form-group
        label.input-text= __("Allow post on wall")
        div.btn-group.btn-g
         button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g.privacy(type="button", data-toggle="dropdown", name="allowWallComments", value!="<%- privacy.allowWallComments %>")
          span.text ---
          span.caret

         ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
          for p in enumerations.Privacy.enums
           li: a(href="#", data-value="#{p.key}")= __(p.key)
        div.clearfix

      div.col-md-3
       div.form-group
        label.input-text= __("Show comments")
        div.btn-group.btn-g
         button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g.privacy(type="button", data-toggle="dropdown", name="showComments", value!="<%- privacy.showComments %>")
          span.text ---
          span.caret

         ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
          for p in enumerations.Privacy.enums
           li: a(href="#", data-value="#{p.key}")= __(p.key)
        div.clearfix

       div.form-group
        label.input-text= __("Allow comments")
        div.btn-group.btn-g
         button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g.privacy(type="button", data-toggle="dropdown", name="allowComments", value!="<%- privacy.allowComments %>")
          span.text ---
          span.caret

         ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
          for p in enumerations.Privacy.enums
           li: a(href="#", data-value="#{p.key}")= __(p.key)
        div.clearfix

       div.form-group
        label.input-text= __("Show wall")
        div.btn-group.btn-g
         button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g.privacy(type="button", data-toggle="dropdown", name="showWall", value!="<%- privacy.showWall %>")
          span.text ---
          span.caret

         ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
          for p in enumerations.Privacy.enums
           li: a(href="#", data-value="#{p.key}")= __(p.key)
        div.clearfix

       div.form-group
        label.input-text= __("Show other comments on wall")
        div.btn-group.btn-g
         button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g.privacy(type="button", data-toggle="dropdown", name="showOtherWallComments", value!="<%- privacy.showOtherWallComments %>")
          span.text ---
          span.caret

         ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
          for p in enumerations.Privacy.enums
           li: a(href="#", data-value="#{p.key}")= __(p.key)
        div.clearfix

      div.col-md-3
       div.form-group
        label.input-text= __("Show personal images")
        div.btn-group.btn-g
         button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g.privacy(type="button", data-toggle="dropdown", name="showPersonalImages", value!="<%- privacy.showPersonalImages %>")
          span.text ---
          span.caret

         ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
          for p in enumerations.Privacy.enums
           li: a(href="#", data-value="#{p.key}")= __(p.key)
        div.clearfix

       div.form-group
        label.input-text= __("Show personal audio")
        div.btn-group.btn-g
         button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g.privacy(type="button", data-toggle="dropdown", name="showPersonalAudio", value!="<%- privacy.showPersonalAudio %>")
          span.text ---
          span.caret

         ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
          for p in enumerations.Privacy.enums
           li: a(href="#", data-value="#{p.key}")= __(p.key)
        div.clearfix

       div.form-group
        label.input-text= __("Show personal video")
        div.btn-group.btn-g
         button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g.privacy(type="button", data-toggle="dropdown", name="showPersonalVideo", value!="<%- privacy.showPersonalVideo %>")
          span.text ---
          span.caret

         ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
          for p in enumerations.Privacy.enums
           li: a(href="#", data-value="#{p.key}")= __(p.key)
        div.clearfix

       div.form-group
        label.input-text= __("Show personal articles")
        div.btn-group.btn-g
         button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g.privacy(type="button", data-toggle="dropdown", name="showPersonalArticles", value!="<%- privacy.showPersonalArticles %>")
          span.text ---
          span.caret

         ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
          for p in enumerations.Privacy.enums
           li: a(href="#", data-value="#{p.key}")= __(p.key)
        div.clearfix

      div.col-md-3
       div.form-group
        label.input-text= __("Show professional images")
        div.btn-group.btn-g
         button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g.privacy(type="button", data-toggle="dropdown", name="showProfessionalImages", value!="<%- privacy.showProfessionalImages %>")
          span.text ---
          span.caret

         ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
          for p in enumerations.Privacy.enums
           li: a(href="#", data-value="#{p.key}")= __(p.key)
        div.clearfix

       div.form-group
        label.input-text= __("Show professional audio")
        div.btn-group.btn-g
         button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g.privacy(type="button", data-toggle="dropdown", name="showProfessionalAudio", value!="<%- privacy.showProfessionalAudio %>")
          span.text ---
          span.caret

         ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
          for p in enumerations.Privacy.enums
           li: a(href="#", data-value="#{p.key}")= __(p.key)
        div.clearfix

       div.form-group
        label.input-text= __("Show professional video")
        div.btn-group.btn-g
         button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g.privacy(type="button", data-toggle="dropdown", name="showProfessionalVideo", value!="<%- privacy.showProfessionalVideo %>")
          span.text ---
          span.caret

         ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
          for p in enumerations.Privacy.enums
           li: a(href="#", data-value="#{p.key}")= __(p.key)
        div.clearfix

       div.form-group
        label.input-text= __("Show professional articles")
        div.btn-group.btn-g
         button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g.privacy(type="button", data-toggle="dropdown", name="showProfessionalArticles", value!="<%- privacy.showProfessionalArticles %>")
          span.text ---
          span.caret

         ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
          for p in enumerations.Privacy.enums
           li: a(href="#", data-value="#{p.key}")= __(p.key)
        div.clearfix

     div.row
      div.col-md-3
       div.form-group
        label.input-text= __("Allow contact orders")
        div.btn-group.btn-g
         button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g.privacy(type="button", data-toggle="dropdown", name="allowContactOrders", value!="<%- privacy.allowContactOrders %>")
          span.text ---
          span.caret

         ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
          for p in enumerations.Privacy.enums
           li: a(href="#", data-value="#{p.key}")= __(p.key)
        div.clearfix

      div.col-md-3
       div.form-group
        label.input-text= __("Hide page")
        div.btn-group.btn-g
         button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g.privacy(type="button", data-toggle="dropdown", name="hidePage", value!="<%- privacy.hidePage %>")
          span.text ---
          span.caret

         ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
          for p in enumerations.Privacy.enums
           li: a(href="#", data-value="#{p.key}")= __(p.key)
        div.clearfix

     div.clearfix
     
     a.img-links(href="#")= __("Show and hide certain blocks and information in group settings contacts")

    div.col-md-12.col-xs-12
     hr
     button.btn.btn-default.btn-sm.col-md-2.col-xs-12.pull-left.btn-update(type="submit")= __("Save changes")

  script(type='text/template', id='data-settings') !{data.settings}
  script(type='text/template', id='data-num') !{data.num}  