doctype html

html(lang='en')

    head
        block head
            title #{title}
    
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
    
        link(rel='stylesheet', href='/layouts/core.min.css?#{cacheBreaker}')
        link(rel='stylesheet', href='/layouts/arn.min.css?#{cacheBreaker}')
    
        noscript
            link(rel='stylesheet', type='text/css', href='/css/noJS.css')

        link(href='//fonts.googleapis.com/css?family=Roboto:400italic,700,400&subset=latin,cyrillic', rel='stylesheet')
        block neck

    body
        block modal_windows
    
        nav.navbar.navbar-default
            div.container.visible-md.visible-lg.visible-sm
                div.col-md-2.col-sm-2
                    a(href="/")
                        img.img-responsive.logo-padd(src="/media/arn/images/logo.png", alt="Artnet city")
                div.col-md-10.col-sm-10
                    div.row
                        div.col-md-12.col-sm-12
                            div.row
                                ul.nav.navbar-nav.mar-nav
                                    li: a(href="/")= __("Home")
                                    li: a(href="/goods/")= __("Goods")
                                    li: a(href="/services/")= __("Services")
                                    li: a(href="/people/")= __("People")
                                    li: a(href="/faq/")= __("FAQ")
                                    li: a(href="/shop/")
                                        span.glyphicon.glyphicon-shopping-cart(style="font-size: 10px;") 
                                        span(style="padding-left: 3px;")= __("Basket")
                                        
                                ul.nav.navbar-nav.navbar-right.mar-nav
                                    for l in locales
                                        li
                                            if getLocale() != l
                                                a(href="/locale/#{l}")= __(l)

                        div.col-md-12.col-sm-12.menu-t-padd
                            div.row
                                div.col-lg-9.col-md-8.col-sm-8
                                    input.form-control.input-sm.search-input.width-inp(type="text", placeholder="Поиск по сайту")
                                div.col-lg-2.col-md-2.col-sm-2
                                    div.form-group
                                        // Split button
                                        div.btn-group.btn-g
                                            button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g(type="button", data-toggle="dropdown")= __("Category")
                                                span.caret
                                            ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
                                                li: a(href="/goods/")= __("Goods")
                                                li: a(href="/services/")= __("Services")
                                                li: a(href="/people/")= __("People")
                                                li: a(href="/media/")= __("Media")
                                div.col-lg-1.col-md-2.col-sm-2
                                    button.btn.btn-default-t.btn-sm(type="submit", style="width:100%;")
                                        a.a-butt(href="/search/")= __("Search")
                div.col-md-12
                    ul.nav.navbar-nav.navbar-right
                        li
                            div.login-head
                                if _user && _user.username
                                    a(href='#{_user.defaultReturnUrl}')
                                    i.fa.fa-user
                                    |  #{_user.username}
                                else
                                    a(href="/login/")= __("Login")
                                    span(style="color:#006aa6;") &nbsp;I&nbsp;
                                    a(href="/signup/")= __("Signup")

        div.clearfix
        
        div.container
            if _user && _user.username
                div.col-md-2.visible-lg.visible-md
                    if user && _user.id == user.id
                        div.tittle= __("My page")
                            span.glyphicon.glyphicon-shopping-cart.visible-sm.visible-xs.pull-right(style="padding:2px 0px;")

                    - var lm = _settings.pageView.leftMenu || {}
                    
                    div.col-md-12.col-xs-6
                        div.row
                            ul.nav.nav-pills.nav-stacked.main-left-menu
                                if lm.edit
                                    li: a(href="/account/edit/")= __("Edit")
                                li: a(href="/account/settings/")= __("Settings")
                                
                            if lm.professions || lm.contacts || lm.news || lm.messages
                                ul.nav.nav-pills.nav-stacked.main-left-menu
                                    if lm.professions
                                        li: a(href="/prof/")= __("Professions")
                                    if lm.contacts
                                        li: a(href="/contacts/")= __("Contacts")
                                            span.badge.pull-right.count 56
                                    if lm.news
                                        li: a(href="/news/")= __("News")
                                    if lm.messages
                                        li: a(href="/messages/")= __("Messages")
                                            span.badge.pull-right.count 42
                                            
                    div.col-md-12.col-xs-6
                        div.row
                            if lm.images || lm.articles || lm.video || lm.audio
                                ul.nav.nav-pills.nav-stacked.main-left-menu
                                    if lm.images
                                        li: a(href="/images/")= __("Images")
                                    if lm.articles
                                        li: a(href="/blog/")= __("Articles")
                                    if lm.video
                                        li: a(href="/video/")= __("Video")
                                    if lm.audio
                                        li: a(href="/music/")= __("Audio")
                                        
                            if lm.goods || lm.services || lm.orders
                                ul.nav.nav-pills.nav-stacked.main-left-menu
                                    if lm.goods
                                        li: a(href="/goods/")= __("Goods")
                                    if lm.services
                                        li: a(href="/services/")= __("Services")
                                    if lm.orders
                                        li: a(href="/orders/")= __("Orders")
                                            span.badge.pull-right.count 0
                                            
                            if lm.rating
                                ul.nav.nav-pills.nav-stacked.main-left-menu
                                    li: a(href="/rating/")= __("Rating and reputation")
                            hr
            else if !noEnter
                div.col-md-2.visible-lg.visible-md
                    div.tittle= __("Enter")
                    
                    div.col-md-12.col-xs-6
                        div.row
                            ul.nav.nav-pills.nav-stacked.main-left-menu
                                li: a(href="/login/")= __("Login")
                                li: a(href="/signup/")= __("Signup")
                    
                block mobile_menu_left
            
            div.content
                block content

        div.clearfix
        
        footer
            div.container
                block footer
                div.col-md-12(style="text-align:center;")
                    hr
                    div.footer-link © 2015 
                        a(href="http://whitecrow.com.ua/") «White Crow»
                        
        //if lte IE 9
            script(src='/layouts/ie-sucks.min.js?#{cacheBreaker}')
        script(src='/layouts/core.min.js?#{cacheBreaker}')
        
        if locale != 'en'
            script(src="/vendor/bootstrap-datepicker/js/locales/bootstrap-datepicker.#{locale}.js")
            script(src="/vendor/momentjs/locale/#{locale}.js")
        
        //script(src='/vendor/jquery/jquery.js')
        //script(src='/vendor/jquery.cookie/jquery.cookie.js')
        //script(src='/vendor/underscore/underscore.js')
        //script(src='/vendor/backbone/backbone.js')
        //script(src='/vendor/bootstrap/js/affix.js')
        //script(src='/vendor/bootstrap/js/alert.js')
        //script(src='/vendor/bootstrap/js/button.js')
        //script(src='/vendor/bootstrap/js/carousel.js')
        //script(src='/vendor/bootstrap/js/collapse.js')
        //script(src='/vendor/bootstrap/js/dropdown.js')
        //script(src='/vendor/bootstrap/js/modal.js')
        //script(src='/vendor/bootstrap/js/tooltip.js')
        //script(src='/vendor/bootstrap/js/popover.js')
        //script(src='/vendor/bootstrap/js/scrollspy.js')
        //script(src='/vendor/bootstrap/js/tab.js')
        //script(src='/vendor/bootstrap/js/transition.js')
        //script(src='/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js')
        //script(src='/vendor/momentjs/moment.js')
        //script(src='/layouts/core.js')
                        
        block feet