@media (min-width: 1420px) {
  .container {
    width: 1400px;
  }
}
body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  padding-top: 0;
}
.logo-padd {
  margin: 0 auto;
  padding: 20px 10px 0px 10px;
}
.logo-padd-2 {
  padding: 10px;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
  background: url("/media/arn/images/bg.jpg") repeat;
}
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: none;
}
.btn-default {
  color: #fff;
  background-color: #3f9acd;
  border-color: #3f9acd;
  border-radius: 0px;
  font-size: 0.825em;
  padding: 3px 20px;
  background-image: none;
  background-repeat: repeat-x;
  text-shadow: none;
}
.btn-default:hover {
  color: #fff;
  background-color: #3786b2;
  border-color: #3786b2;
}
.btn-default:focus {
  color: #fff;
  background-color: #3786b2;
  border-color: #3786b2;
}
.navbar {
  border-radius: 0px;
}
.toggle-padd {
  margin-top: 17px;
}
.nav>li>a {
  position: relative;
  display: block;
  padding: 0px 8px;
}
.navbar-nav>li>a {
  padding-top: 8px;
  padding-bottom: 0px;
}
.navbar-default .navbar-nav>li>a {
  color: #000;
  font-size: 11px;
}
.navbar-default .navbar-nav>li>a:hover {
  text-decoration: underline;
}
.form-control {
  color: #333;
  border: 1px solid #85b7d3;
}
.padd-inp-head {
  padding-left: 5px;
  padding-right: 5px;
}
.width-inp {
  width: 100%!important;
}
.login-head {
  color: #fff !important;
  background: #0A1451;
  border-radius: 4px;
  padding: 3px 10px 4px 10px !important;
  position: relative;
  font-size: 11px;
  left: -15px;
  margin-top: 9px;
}
.login-head a {
  color: #fff !important;
}
.login-head:hover {
  background: #0A1451!important;
}
.btn-header-bt {
  color: #777;
  border: 1px solid #85b7d3;
  background: #fff;
}
.ft-size {
  font-size: 12px;
}
.dropdown-menu>li>a:hover {
  background: #dcecf8;
}
.btn .caret {
  margin-left: 0px;
  color: #006BA6;
  float: right;
  position: absolute;
  top: 13px !important;
  right: 10px;
}
.gr-background {
  background: #f8f8f8;
  border-bottom: 1px solid #E5E5E5;
}
.nav-mob-mar {
  margin-left: -5px;
}
.mob-padd-form {
  padding: 10px 5px;
}
.main-left-menu {
  margin-bottom: 20px;
}
.main-left-menu li a {
  color: #0a1450;
  border-radius: 0px;
  padding: 3px 10px 1px;
}
.main-left-menu li a:hover {
  background: #d8f0ff;
}
.main-left-menu li a:focus {
  background: #d8f0ff;
}
.tittle {
  background: #d8f0ff;
  padding: 3px 10px;
  color: #0a1450;
  margin-bottom: 15px;
}
.tittle-index {
  background: #f2f2f2;
  padding: 3px 10px;
  color: #0a1450;
  margin-bottom: 15px;
}
.tittle-dark {
  background: #0a1450;
  color: #fff;
  padding: 3px 10px;
  margin-bottom: 15px;
}
.bt-n {
  margin-bottom: 10px;
}
.container {
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -7px;
  margin-left: -7px;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 7px;
  padding-left: 7px;
}
.container>.navbar-header,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container-fluid>.navbar-collapse {
  margin-right: -10px;
  margin-left: -10px;
}
.count {
  margin-top: -1px;
  background: transparent;
  padding: 4px;
  font-size: 12px;
  color: #0A1450;
}
.friend {
  margin-bottom: 10px;
}
.fr-tittle {
  font-size: 10px;
  text-align: center;
  color: #0A1450;
}
.pro-info {
  font-size: 0.824em;
  color: #0A1450;
  line-height: 1.9em;
}
.status-pro {
  padding-bottom: 7px;
  font-size: 12px;
  font-style: italic;
  padding-left: 10px;
}
.pro-button {
  border-top: 1px solid #d8f0ff;
  padding-top: 10px;
  margin-top: 7px;
}
.tabs-main {
  padding: 7px!important;
  font-size: 12px;
  /* text-align: left!important; */
  
  color: #0A1450;
}
.tabs-main-ins {
  margin-top: 20px;
}
.text-area {
  border: 1px solid #ccc;
  margin-bottom: 15px;
  resize: none;
  font-size: 12px;
}
.input-post {
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
.p-m {
  color: #0A1450;
}
.p-bottom {
  overflow: auto;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
  padding-top: 10px;
  font-size: 11px;
  color: #0A1450;
}
.p-bottom a {
  color: #0A1450;
}
.post {
  margin-bottom: 20px;
}
.paperclip-main {
  padding: 6px;
  font-size: 16px;
  margin-right: 10px;
}
.nav-main li a:hover {
  background: #d8f0ff;
  border-color: #d8f0ff;
  border-bottom-color: #ddd;
  color: #0A1450;
}
.pro-text {
  color: #0A1450;
}
.pro-info-main {
  color: #0A1450;
  font-size: 12px;
}
@font-face {
  font-family: 'MuseoSansCyrl500';
  src: url('../fonts/museosanscyrl-500.eot');
  src: url('../fonts/museosanscyrl-500.eot') format('embedded-opentype'), url('../fonts/museosanscyrl-500.woff2') format('woff2'), url('../fonts/museosanscyrl-500.woff') format('woff'), url('../fonts/museosanscyrl-500.ttf') format('truetype'), url('../fonts/museosanscyrl-500.svg#MuseoSansCyrl500') format('svg');
}
.border {
  border-top: 1px solid #d8f0ff;
  padding-bottom: 11px;
}
.job-link:hover {
  text-decoration: none;
}
.job-link:focus {
  text-decoration: none;
}
.menu-t:hover {
  color: #fff;
  background: #3F9ACD;
}
.footer-link {
  font-size: 11px;
  color: #3F9ACD;
  margin-bottom: 30px;
}
.mess-time {
  font-size: 10px;
  color: #A09F9F;
}
.p-mess {
  margin-top: 0px;
  margin-bottom: 10px;
}
.p-mess p {
  margin: 0px;
}
.con-message {
  background: #F2FAFF;
  overflow: auto;
  padding-top: 9px;
  margin-top: 10px;
}
.con-message:hover {
  cursor: pointer;
}
.con-message-2 {
  background: transparent;
  overflow: auto;
  padding-top: 9px;
  margin-top: 10px;
}
.con-message-2:hover {
  background: #F2FAFF;
  overflow: auto;
  cursor: pointer;
}
.con-message-3 {
  background: transparent;
  overflow: auto;
  margin-bottom: 10px;
}
.messages {
  font-size: 13px;
  color: #333;
}
.messages-ins {
  font-size: 13px;
  color: #333;
  overflow: hidden;
}
.line-login a {
  color: #000;
  font-size: 11px;
}
label.input-text {
  color: #0A1450;
  font-size: 13px;
  font-weight: normal;
}
.btn-g {
  width: 100%;
  float: left;
  text-align: left!important;
}
.img-width {
  width: 100%;
}
.prof-menu {
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  border-top: 1px solid #0A1450;
  border-bottom: 1px solid #0A1450!important;
}
.prof-nav li a {
  color: #0A1450;
  padding: 8px 10px;
  font-size: 12px;
  border: none!important;
  border-radius: 0px!important;
  border-color: #0A1450!important;
}
.prof-nav li a:hover {
  background: #e4f5ff;
  font-weight: bold;
}
.prof-nav >li.active>a {
  background-color: #F4F4F4!important;
  font-weight: bold;
}
.prof-nav li a:focus {
  background: #d8f0ff;
}
.prof-nav-2 {
  font-weight: bold;
  border: none!important;
}
.prof-nav-2:hover {
  background: #fff!important;
}
.prof-nav-2:focus {
  background: #fff!important;
}
.text-bl {
  border: 1px solid #85b7d3;
}
.pro-info-t {
  border-top: none!important;
  font-size: 0.824em;
  color: #0A1450;
  width: 100%;
  margin-bottom: 10px;
}
.pro-info-t td {
  border-top: none!important;
  padding: 3px!important;
}
.prof-link {
  color: #0a1450;
  font-weight: bold;
}
.prof-link:hover {
  color: #0a1450;
  font-weight: bold;
}
.prof-link:focus {
  color: #0a1450;
}
.prof-label {
  font-weight: normal;
  color: #0A1450;
  text-align: left!important;
}
.check-b {
  background: yellow;
  width: 16px;
  height: 16px;
}
.btn-check {
  padding: 4px 7px;
  font-size: 12px;
  line-height: 1.5;
  background: #fff;
  border: 1px solid #85B7D3;
  border-radius: 3px;
  margin-bottom: 10px;
}
.btn-check:hover {
  background: #d8f0ff;
}
.btn-check:active {
  background: #d8f0ff;
}
.btn-check:focus {
  background: #d8f0ff;
}
.prof-icon {
  color: #0a1450;
  float: right;
  margin-left: 11px;
  font-size: 11px;
  margin-top: 3px;
}
.prof-icon:hover {
  color: #3f9acd;
}
.bt-one {
  background: #D9F0FF;
  border-radius: 0px;
  color: #006BA6;
  border-color: #D9F0FF;
}
.bt-one:hover {
  background: #D9F0FF;
  border-radius: 0px;
  border-color: #D9F0FF;
  box-shadow: none;
}
.img-links {
  margin-right: 5px;
  font-size: 12px;
  color: #0A1450;
  text-decoration: underline;
}
.img-text {
  font-size: 12px;
  margin-top: 15px;
  color: #0A1450;
}
.img-box {
  margin-top: 15px;
}
.modal-w {
  z-index: 9999;
}
.modal-header {
  min-height: 16.43px;
  padding: 15px;
  padding-bottom: 0px;
  border-bottom: none;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
  font-size: 13px;
  color: #0a1450;
}
.modal-header .close {
  margin-top: 0px;
  font-size: 15px;
}
.modal-tittle-numb {
  padding-left: 20px;
}
.modal-footer {
  padding: 15px;
  padding-top: 0px;
  text-align: right;
  border-top: none;
}
.modal-body p {
  font-size: 12px;
  color: #0a1450;
}
.modal-comm {
  padding: 5px;
  font-size: 13px;
  margin-top: 0px;
}
.media-heading {
  margin: 0 0 5px;
  font-size: 15px;
}
.goods-tittle {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  padding-top: 5px;
  color: #2f3360;
  margin-left: 10px;
  margin-right: 10px;
  border-top: 1px solid #ccc;
  margin-bottom: -3px;
}
.goods-price {
  text-align: center;
  font-size: 17px;
  padding-bottom: 5px;
  color: #2f3360;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}
.goods-like {
  text-align: center;
  font-size: 17px;
  padding-bottom: 5px;
  color: #2f3360;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid #ccc;
}
.goods-like {
  font-size: 11px;
  padding-bottom: 5px;
  color: #2f3360;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.goods-comm {
  font-size: 11px;
  padding-bottom: 5px;
  color: #2f3360;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.like-sp {
  font-size: 15px;
  margin-left: 6px;
}
.goods-tittle-2 {
  text-align: center;
  margin-top: 0px;
  font-size: 16px;
  padding-top: 5px;
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
  border-top: 1px solid #ccc;
  margin-bottom: -3px;
}
.goods-price-2 {
  text-align: center;
  font-size: 17px;
  padding-bottom: 5px;
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}
.goods-like-2 {
  text-align: center;
  font-size: 17px;
  padding-bottom: 5px;
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid #ccc;
}
.goods-like-2 {
  font-size: 11px;
  padding-bottom: 5px;
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.goods-comm-2 {
  font-size: 11px;
  padding-bottom: 5px;
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.like-sp {
  font-size: 15px;
  margin-left: 6px;
}
.like-sp:hover {
  color: #3f9acd;
}
.like-sp-22:hover {
  color: #3f9acd;
}
.a12 {
  overflow: auto;
  position: absolute;
  bottom: 0px;
  margin: 0px auto;
  width: 100%;
  right: 1px;
}
.tittle-goods {
  font-size: 20px;
  color: #0a1450;
}
.goods-breadcrumg {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
}
.breadcrumb {
  padding: 5px 5px;
  margin-bottom: 0px;
  list-style: none;
  background-color: #fff;
  border-radius: 4px;
  color: #ccc;
  font-size: 12px;
}
.breadcrumb li a {
  color: #666666;
}
.goods-info {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.goods-info {
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.goods-info-right {
  text-align: center;
  font-size: 19px;
  margin-top: 5px;
}
.goods-info-price {
  color: #777;
  font-size: 12px;
}
.list-goods {
  margin-bottom: 6px;
  font-size: 11px;
  margin-top: 6px;
}
.goods-info-right-2 {
  text-align: right;
}
.goods-text {
  color: #666;
  font-size: 12px;
}
.inline-text {
  font-size: 12px;
}
.warn-link {
  color: #333;
  font-size: 12px;
  text-decoration: underline;
}
.warn-link:hover {
  color: #3f9acd;
}
.goods-like-2-goods {
  font-size: 13px;
  color: #2f3360;
  text-align: left;
  margin-bottom: 18px;
}
.like-sp-22 {
  font-size: 15px;
  margin-left: 8px;
  top: 11px;
  cursor: pointer;
}
.goods-info-bot {
  padding-top: 4px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.star-sp {
  top: 2px;
  color: #96bdd5;
}
.star-sp-2 {
  top: 2px;
  color: #FEB700;
}
.form-goods {
  font-size: 11px;
  height: 150px!important;
}
.f-g {
  padding: 4px 5px;
  cursor: pointer;
}
.f-g:hover {
  background: #D9F0FF;
}
.check-goods {
  font-size: 13px;
  cursor: pointer;
  color: #0A1450;
  line-height: 22px;
}
.check-box {} .service-tittle a {
  font-size: 18px;
  color: #0a1450;
}
.service-foto {
  margin-top: 10px;
  margin-bottom: 10px;
}
.service-block {
  border-top: 1px solid #0a1450;
  border-bottom: 1px solid #0a1450;
  padding-top: 10px;
  padding-bottom: 10px;
}
.serv-link {
  font-size: 12px;
  color: #0a1450;
  text-decoration: underline;
}
.order-box {
  background: #D9F0FF;
  padding: 6px 11px;
  font-size: 12px;
  color: #146BAE;
}
.order-chek {
  display: inline;
}
.check-order-box {
  margin-left: 6px;
  line-height: 20px;
}
.order-content-box {
  margin-top: 20px;
}
.order-tittle {
  font-size: 14px;
  margin-bottom: 10px;
  border-bottom: 1px solid #0A1450;
}
.order-tittle a {
  color: #0a1450;
}
.order-left {
  color: #0a1450;
  font-size: 12px
}
.order-right {
  text-align: right;
  color: #0A1450;
  font-weight: bold;
  padding-top: 11px;
  font-size: 17px;
}
.order-right-shop {
  text-align: right;
  color: #0A1450;
  font-weight: bold;
  font-size: 17px;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: relative;
  margin-left: -20px;
  top: 3px;
  margin-right: 3px;
}
.span-order {
  font-weight: normal;
  font-size: 11px;
  padding-top: 4px;
}
.order-pade-info {
  font-size: 12px;
  padding: 1px 5px;
  color: #747474;
}
.orders-button {
  margin-top: 15px;
}
.order-b {
  margin-bottom: 10px;
}
.order-g {
  background: #919191;
  border-color: #919191;
  margin-bottom: 10px;
}
.order-g:hover {
  background: #999;
  border-color: #999;
}
.like-order-text {
  padding-right: 10px;
}
.like-dis {
  margin-bottom: 10px;
  font-size: 12px;
}
.like-sp-order {
  margin-right: 5px;
}
.r-order-1 {
  margin-top: 6px;
  font-size: 13px;
  color: #0A1450;
  margin-bottom: 5px;
}
.price-order {
  color: #0a1450;
  margin-bottom: 0px;
  margin-top: 15px;
}
.order-span-price {
  font-size: 18px;
  font-weight: bold;
  line-height: 15px;
  padding-left: 10px;
}
.shop-button {
  background: #fff;
  border: 1px solid #AEDDF9;
}
.shop-1 {
  font-size: 12px;
  padding-top: 5px;
}
.shop-link {
  color: #0a1450;
  font-size: 13px;
  padding: 1px;
}
.shop-link:hover {
  color: #0a1450;
  text-decoration: none;
}
.friends-tittle {
  text-align: center;
  padding-bottom: 5px;
}
.friends-tittle a {
  color: #0a1450;
  font-size: 15px;
  font-weight: bold;
}
.friends-tittle a:hover {
  color: #3f9acd;
  text-decoration: none;
}
.ul-fr {
  padding-left: 0px
}
.ul-fr li {
  font-size: 12px;
  margin-bottom: 0px!important;
  color: #0a1450;
  list-style: none;
}
.friends-desc {
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
  overflow: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}
.fr-pos {} .input-friends {
  margin-top: 15px;
  margin-bottom: 15px;
}
.rew {
  background: #f2faff;
  padding: 10px;
  font-size: 12px;
  color: #0a1450;
  margin-bottom: 10px;
}
.rew-header {
  font-size: 14px;
  margin-bottom: 5px;
}
.btn-rew {
  margin-bottom: 10px;
  background: #fff;
  border: none;
  color: #3F9ACD;
  font-size: 12px;
  outline: none;
}
.cont-number {
  color: #3f9acd;
  font-size: 12px;
  margin-top: 5px;
  border-top: 1px solid #DDD;
  padding-top: 12px;
  margin-bottom: 0px;
}
.popover-content {
  padding: 9px 14px;
  color: #0A1450;
  font-size: 12px;
}
.btn-pop {
  background: transparent;
  padding: 0px;
}
.btn-pop:hover {
  color: #fff;
  text-decoration: underline;
}
.btn-pop:focus {
  outline: none;
  color: #fff;
}
.btn-pop-com {
  background: transparent;
  padding: 0px;
  font-size: 11px;
}
.btn-pop-com:hover {
  color: #0a1450;
  text-decoration: underline;
}
.btn-pop-com:focus {
  outline: none;
  color: #0a1450;
}
.pop {
  font-size: 11px;
  color: #0a1450;
}
.onl {
  position: absolute;
  color: #3A9E09;
  font-size: 14px!important;
  top: 0px;
  left: 0px;
}
.onl:hover {
  color: #3A9E09;
}
.media-news-span {
  color: #ccc;
}
.media-news-span {
  color: #969292;
  font-size: 12px;
  padding-left: 10px;
}
.news-link {
  color: #0a1450;
}
.news-link:hover {
  color: #0a1450;
}
.news-desc {
  font-size: 11px;
  margin-bottom: 5px;
}
.news-footer {
  overflow: auto;
  font-size: 11px;
  color: #0A1450;
}
.news-link-desc {
  text-decoration: underline;
  color: #777;
}
.news-link-desc:hover {
  text-decoration: none;
  color: #777;
}
.media-object-news {
  position: relative;
  top: -74px;
  left: 59px;
  width: 17px;
}
.media-object-news3 {
  position: relative;
  top: -80px;
  left: 62px;
  width: 20px;
}
.media-object-news-2 {
  position: absolute;
  top: -5px;
  right: 4px;
  width: 17px;
}
.news-img {
  width: 100%;
}
.news-order-link {
  color: #A6A3A3;
  text-decoration: underline;
}
.news-order-link:hover {
  color: #A6A3A3;
  text-decoration: none;
}
.border-news {
  border-bottom: 1px solid #DFDFDF;
  width: 95%;
  margin: 0 auto;
}
.list-rate {
  color: #0a1450;
  font-size: 13px;
}
.list-rate li {
  padding-bottom: 5px;
}
.bread {
  font-size: 12px;
  margin-top: 5px;
}
.bread a {
  text-decoration: underline;
}
.text-blog-t {
  font-size: 12px;
  color: #0a1450;
  margin-top: 10px;
}
.text-icon {
  text-align: right;
}
.text-icon a {
  color: #0a1450;
  font-size: 11px;
}
.text-icon a:hover {
  color: #3f9acd;
}
.a-butt {
  color: #fff;
}
.a-butt:hover {
  color: #fff;
  text-decoration: none;
}
.video-art {
  width: 100%;
  height: 222px;
  background: #000000 center center no-repeat;
  background-size: 100%;
  margin-bottom: 5px;
}
.video-tittle {
  margin-bottom: 15px;
}
.video-name {
  margin: 0;
  color: #0A1450;
  font-size: 15px;
}
.video-author {
  font-size: 12px;
}
.span-author {
  font-size: 12px;
  color: #A6A3A3;
  padding-right: 5px;
}
.audio-tittle {
  margin: 0;
  color: #0A1450;
  font-size: 15px;
}
.audio-pad {
  margin-top: 7px;
  width: 100%;
}
.bread-c {
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  font-size: 13px;
}
.bread-c:hover {
  color: #77c3ed;
  text-decoration: none;
}
.bread-pad {
  padding-left: 5px;
}
.border-prof {
  border-right: 1px solid #D8F0FF;
  height: 100%;
  position: absolute;
  left: 92%;
}
.rep-ul {
  color: #0a1450;
  font-size: 13px;
  line-height: 26px;
}
.i-rep {
  margin-left: 7px;
  position: relative;
  top: 1px;
  color: #0A1450;
}
.rat-ing {
  background: #f2faff;
  font-size: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #0a1450;
  margin-bottom: 5px;
  overflow: auto
}
.rat-ing-2 {
  background: #fff;
  font-size: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #0a1450;
  margin-bottom: 5px;
  overflow: auto
}
.img-border {
  display: block;
  margin: 0 auto;
  outline: 7px solid #0A1450;
  outline-offset: -7px;
}
.album-b {
  position: relative;
  background: #0A1450;
  text-align: center;
  bottom: 28px;
  padding: 5px;
  font-size: 11px;
  margin-bottom: -17px;
}
.album-b a {
  color: #fff;
}
.album-b a:hover {
  color: #3f9acd;
  text-decoration: none;
}
.im-link {
  color: #fff;
  text-decoration: none;
}
.im-link:hover {
  color: #fff;
  text-decoration: none;
}
.bt-n-2 {
  margin-bottom: 15px;
}
.up-text {
  font-size: 12px;
  text-align: right;
  color: #006BA6;
  line-height: 30px;
}
.menu-t-padd {
  margin-top: 7px;
}
.btn-default-t {
  color: #fff;
  background-color: #3f9acd;
  border: 1px solid #3f9acd;
  border-radius: 0px;
  font-size: 0.825em;
  padding: 5px 15px;
}
.btn-default-t:hover {
  color: #fff;
  background-color: #3786b2;
  border-color: #3786b2;
}
.sett-b-ul li a {
  font-size: 12px;
}
.sett-b-ul li {
  padding-bottom: 5px;
}
:focus,
:active {
  outline: none !important;
  -moz-outline: none !important;
}
span.input-text-error {
  color: #A94442;
  position: absolute;
  right: 10px;
  top: 0;  
}
.ch-edit {
  top: 6px;
  margin: 0px;
  font-size: 11px;
  color: #0A1450;
}
.goods-like-new {
  text-align: center;
  color: #0A1450;
  margin: 0px;
}
.popover-title {
  margin: 0;
  padding: 8px 14px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  background-color: #F2F2F2;
  color: #0A1450;
}
.block-other {
  height: 70px;
  vertical-align: middle;
  width: 500px;
  display: table-cell;
}
.block-other a {
  line-height: 5px;
}

.input-sm {
  font-size: 12px;
}
.filled {
  color: #333;
}
.btn-add {
  font-size: 12px;
  line-height: 32px;
}