<% if (typeof(relation0) === 'undefined' || (!relation0 && !relation1)) { %>
button.btn.btn-default.btn-sm.bt-n.col-xs-12.col-md-12(data-target="#addContact")= __("Add to contacts")
<% } else if (relation0 == 1 && relation1 == 1) { %>
button.btn.btn-default.btn-sm.bt-n.col-xs-12.col-md-12( data-target="#delContact")= __("Del from contacts")
<% } else if ((user0 == userId && relation0 == 1) || (user1 == userId && relation1 == 1)) { %>
button.btn.btn-default.btn-sm.bt-n.col-xs-12.col-md-12(data-target="#delContact")= __("Del from contacts")
<% } else if ((user1 == userId && relation0 == 1) || (user0 == userId && relation1 == 1)) { %>
button.btn.btn-default.btn-sm.bt-n.col-xs-12.col-md-12(data-target="#addContact")= __("Confirm contact")
<% } %>