extends ../../layouts/arn

block head
  title= __("Contacts")

block neck
  link(rel='stylesheet', href='/views/contacts/index.min.css?#{cacheBreaker}')

block feet
  script(src='/views/contacts/modernizr.min.js?#{cacheBreaker}')
  script(src='/views/contacts/hoverdir.min.js?#{cacheBreaker}')
  script(src='/views/contacts/index.min.js?#{cacheBreaker}')

block content
  div.col-md-10
      div.tittle-dark Контакты

      // top filter
      div.row
          div.col-md-12
              div.row
                  div#accordion.panel-group(style="margin-bottom: 0px;border:none;")
                      div.panel(style="box-shadow:none;")
                          div.panel-heading(style="padding: 0px 19px;")
                              div.row
                                  a.job-link(data-toggle="collapse", data-parent="#accordion", href="#collapseOne-2")
                                      div.tittle.menu-t.row(style="margin-bottom:0px;")
                                        |Параметры поиска
                                        span.glyphicon.glyphicon-filter.pull-right(style="padding:2px 0px;")

                          div#collapseOne-2.panel-collapse.collapse
                              div.panel-body(style="border:none;")
                                  div.row
                                      div.col-md-12
                                          div.row
                                              div
                                                  div.form-group
                                                      label.input-text Регион

                                                      div.form-group
                                                        div.btn-group.btn-g
                                                          button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g(type="button", data-toggle="dropdown", name="", value!='<%- region %>')
                                                            span.text= __("Enter country")
                                                            span.caret
                                                            
                                                          ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
                                                            for country in enumerations.Countries.enums
                                                              li: a(href="#", data-value="#{country.key}")= __(country.key)
                                                      div.clearfix
                                                      
                                                      input.form-control.input-sm.input-friends(type="text", placeholder="Город")
                                                      
                                                      div.form-group
                                                        div.btn-group.btn-g
                                                          button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g(type="button", data-toggle="dropdown", name="language", value!="<%- language %>")
                                                            span.text= __("Language")
                                                            span.caret
                                                                        
                                                          ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
                                                            for language in enumerations.Languages.enums
                                                              li: a(href="#", data-value="#{language.key}")= __(language.key)
                                                      
                                                      div.clearfix
                                                      
                                                  div.form-group
                                                    label.input-text Пол
                                                    div.form-group
                                                        div.btn-group.btn-g
                                                          button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g(type="button", data-toggle="dropdown", name="sex", value!='<%- sex %>')
                                                            span.text #{__("Select gender")}
                                                            span.caret
                                                              
                                                          ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
                                                            for sex in enumerations.Sex.enums
                                                              li: a(href="#", data-value="#{sex.key}")= __(sex.key)
                                                    div.clearfix
                                                      
                                                  div.form-group
                                                    label.input-text= __("Marital status")
                                                    div.form-group
                                                        div.btn-group.btn-g
                                                            button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g(type="button", data-toggle="dropdown", name="maritalStatus", value!='<%- maritalStatus %>')
                                                              span.text #{__("Select status")}
                                                              span.caret
                                                              
                                                            ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
                                                              for status in enumerations.MaritalStatus.enums
                                                                li: a(href="#", data-value="#{status.key}")= __(status.key)
                                                    div.clearfix

                                                  div.form-group
                                                      label.input-text Возраст

                                                      div.row
                                                          div.col-md-6.col-xs-6
                                                              div.btn-group.btn-g
                                                                  button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g(type="button", data-toggle="dropdown")
                                                                      span.text От
                                                                      span.caret
                                                                  ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
                                                          div.col-md-6.col-xs-6
                                                              div.btn-group.btn-g
                                                                  button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g(type="button", data-toggle="dropdown")
                                                                      span.text До
                                                                      span.caret
                                                                  ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
  
                                                      div.clearfix

                                                  div.form-group
                                                      label.input-text Профессия
                                                      div.form-group
                                                          div.btn-group.btn-g
                                                              button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g(type="button", data-toggle="dropdown")
                                                                  span.text Любая профессия
                                                                  span.caret
                                                              ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
                                                      div.clearfix
                                                      
                                                  div.form-group
                                                      label.input-text Опыт работы

                                                      div.row
                                                          div.col-md-6.col-xs-6
                                                              div.btn-group.btn-g
                                                                  button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g(type="button", data-toggle="dropdown")
                                                                      span.text От
                                                                      span.caret
                                                                  ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
                                                                      li: a(href="#") -
                                                          div.col-md-6.col-xs-6
                                                              div.btn-group.btn-g
                                                                  button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g(type="button", data-toggle="dropdown")
                                                                      span.text До
                                                                      span.caret
                                                                  ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
                                                                      li: a(href="#") -

                                                      div.clearfix
                                                  div.form-group
                                                      label.input-text Источники вдохновения
                                                      input.form-control.input-sm(type="text", placeholder="Источник")
                                                      div.clearfix
                                                      
                                                  hr
                                                  
                                                  div.form-group
                                                      label.input-text Школа
                                                      div.form-group
                                                          div.btn-group.btn-g
                                                              button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g(type="button", data-toggle="dropdown")
                                                                  span.text Выберите страну
                                                                  span.caret
                                                              ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
                                                                  li: a(href="#") -
                                                      div.clearfix
                                                      input.form-control.input-sm.input-friends(type="text", placeholder="Город")
                                                      input.form-control.input-sm(type="text", placeholder="Школа")
                                                      div.clearfix

                                                  div.clearfix
                                                  
                                                  div.form-group
                                                      label.input-text ВУЗ
                                                      div.form-group
                                                          div.btn-group.btn-g
                                                              button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g(type="button", data-toggle="dropdown")
                                                                  span.text Выберите страну
                                                                  span.caret
                                                              ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
                                                                  li: a(href="#") -

                                                      div.clearfix
                                                      
                                                      input.form-control.input-sm.input-friends(type="text", placeholder="Город")
                                                      input.form-control.input-sm(type="text", placeholder="ВУЗ")
                                                      input.form-control.input-sm.input-friends(type="text", placeholder="Специальность")
                                                      
                                                      div.clearfix
                                                      
                                                      div.form-group
                                                          div.btn-group.btn-g
                                                              button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g(type="button", data-toggle="dropdown")
                                                                  span.text Статус
                                                                  span.caret
                                                              ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
                                                                  li: a(href="#") -

                                                          div.clearfix

                                                      div.form-group
                                                          div.btn-group.btn-g
                                                              button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g(type="button", data-toggle="dropdown")
                                                                  span.text Начало обучения
                                                                  span.caret
                                                              ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
                                                                  li: a(href="#") -

                                                          div.clearfix

                                                      div.form-group
                                                          div.btn-group.btn-g
                                                              button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g(type="button", data-toggle="dropdown")
                                                                  span.text Окончание обучения
                                                                  span.caret
                                                              ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
                                                                  li: a(href="#") -

                                                          div.clearfix

                                                  div.form-group
                                                      label.input-text Работа
                                                      div.form-group
                                                          div.btn-group.btn-g
                                                              button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g(type="button", data-toggle="dropdown")
                                                                  span.text Выберите страну
                                                                  span.caret
                                                              ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
                                                                  li: a(href="#") -

                                                      div.clearfix
                                                      
                                                      input.form-control.input-sm.input-friends(type="text", placeholder="Город")
                                                      input.form-control.input-sm(type="text", placeholder="Место работы")
                                                      input.form-control.input-sm.input-friends(type="text", placeholder="Должность")
                                                      
                                                      div.clearfix
  
                                                      div.form-group
                                                          div.btn-group.btn-g
                                                              button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g(type="button", data-toggle="dropdown")
                                                                  span.text Начало работы
                                                                  span.caret
                                                              ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
                                                                  li: a(href="#") -

                                                          div.clearfix

                                                      div.form-group
                                                          div.btn-group.btn-g
                                                              button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g(type="button", data-toggle="dropdown")
                                                                  span.text Окончание работы
                                                                  span.caret
                                                              ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
                                                                  li: a(href="#") -
                                                          div.clearfix

                                                  hr
                                                  
                                                  div.form-group
                                                      input.form-control.input-sm(type="text", placeholder="Религия")
                                                      input.form-control.input-sm.input-friends(type="text", placeholder="Политика")
                                                      input.form-control.input-sm(type="text", placeholder="Главное в жизни")
                                                      input.form-control.input-sm.input-friends(type="text", placeholder="Главное в людях")
                                                      input.form-control.input-sm(type="text", placeholder="Вредные привычки")
  
                                                      div.clearfix
              div.clearfix
              div.row
                  div.col-md-12
                      ul#myTab.nav.nav-tabs.nav-left.nav-main(style="margin-top:15px;")
                        li.active: a.tabs-main(href="#tab-contacts", data-toggle="tab")= __("Contacts")
                        li: a.tabs-main(href="#tab-online", data-toggle="tab")= __("Online")
                        li: a.tabs-main(href="#tab-incoming-requests", data-toggle="tab")= __("Incoming requests")
                        li: a.tabs-main(href="#tab-outcoming-requests", data-toggle="tab")= __("My requests")

                      div#myTabContent.tab-content
                          div#tab-contacts.tab-pane.fade.active.in.tabs-main-ins

                          div#tab-online.tab-pane.fade.tabs-main-ins

                          div#tab-incoming-requests.tab-pane.fade.tabs-main-ins.row

                          div#tab-outcoming-requests.tab-pane.fade.tabs-main-ins

  script(type='text/template', id='tmpl-contacts')
      div.row
          div.col-md-12.visible-lg.visible-md
              div.row
                  div.col-md-4(style="padding-right: 0px;")
                      div.col-md-6
                          div.row
                              div.form-group
                                  div.btn-group.btn-g.bt-n
                                      button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g.bt-one(type="button", data-toggle="dropdown")
                                          span.text Все контакты
                                          span.caret
                                      ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
                                          li: a(href="#") Подраздел
                                          li: a(href="#") Подраздел
                                          
                      div.col-md-6
                            div.form-group
                              div.btn-group.btn-g.bt-n
                                  button.btn.btn-header-bt.btn-sm.dropdown-toggle.btn-g.bt-one(type="button", data-toggle="dropdown")
                                      span.text Подгруппы
                                      span.caret
                                  ul.dropdown-menu.btn-header-bt.ft-size(role="menu")
                                      li: a(href="#") Альбом
                                      li: a(href="#") Альбом

                  div.col-md-8(style="padding-left: 0px;")
                      div.form-group.col-xs-10(style="padding-left:0px!important;")
                          input.form-control.input-sm.search-input(type="text", placeholder="Поиск по контактам")
                      button.btn.btn-default.btn-sm.col-xs-2(type="submit", style="margin-top:2px;") Найти

          div.col-md-12(style="margin-bottom:15px;")
              a.img-links(href="/edit-friends/") Редактировать группу контактов
              |I&nbsp;
              a.img-links(href="/edit-friends/") Добавить новую группу контактов

              p.cont-number 339 контактов

          div#contacts-list-contacts


  script(type='text/template', id='tmpl-online')
      div.col-md-12
          div.row
            div#contacts-list-online


  script(type='text/template', id='tmpl-incoming-requests')
      div.col-md-12
          div.checkbox(style="margin-top:0px;")
              label
                input(type="checkbox", value="", checked)
                |Принимать заявки

          div.row
              div#contacts-list-incoming-requests

          div.clearfix
          
          hr
          
          div.col-md-12.col-xs-12.row(style="margin-bottom:20px;")
              button.btn.btn-default.btn-sm(type="submit", style="margin-right:5px;") Принять все
              button.btn.btn-default.btn-sm.order-g(type="submit", style="margin-bottom:0px;") Отклонить все


  script(type='text/template', id='tmpl-outcoming-requests')
      div.col-md-12
          div.checkbox(style="margin-top:0px;")
              label(style="margin-right:10px;")
                input(type="checkbox", value="", checked)
                |Подписки
              label(style="margin-right:10px;")
                input(type="checkbox", value="", checked)
                |Скрытые контакты
              label
                input(type="checkbox", value="", checked)
                |Удалять

          div.row(style="margin-bottom:10px;")
              div#contacts-list-outcoming-requests

          div.clearfix


  script(type='text/template', id='tmpl-contact')
    div.col-md-2.col-sm-3.col-xs-6
      ul.da-thumbs
          li
              a(style="text-decoration:none;")
                  img.img-responsive.img-width(src="/media/arn/images/ava.jpg", alt="Artnet city")
                  span.glyphicon.glyphicon-stop.sp-ins-i.onl
                  div.sp-ins
                      span.del.glyphicon.glyphicon-trash.sp-ins-i
                      span.glyphicon.glyphicon-transfer.sp-ins-i
                      span.glyphicon.glyphicon-envelope.sp-ins-i(data-toggle="modal", data-target="#myModal")

          div.clearfix
          
          div.fr-pos
              div.friends-tittle
                  a(href!="/<%- user.address || user.num %>") <%- user.account.name.full %>
              div.friends-desc
                  ul.ul-fr
                    <% if (user.account.contactsCity) { %>
                    li Город: <%- user.account.contactsCity %>
                    <% } %>
                    <% if (user.work) { %>
                    li Профессия: <%- user.work %>
                    <% } %>
                    <% if (user.account.birthday) { %>
                    li Дата рождения: <%- user.account.birthday %>
                    <% } %>